workflow.json
{
  "name": "AI based social media content generator workflow template",
  "flow": [
    {
      "id": 1,
      "module": "notion:watchDatabaseItems",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null,
        "watchBy": "data_source",
        "select": "create",
        "limit": 5,
        "data_source": "387608ae-2c7f-8053-a2dd-000be12b32ad"
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 450,
          "name": "응답 감지"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": null,
            "watchBy": {
              "label": "Data SourceThis must be used if your database has multiple data sources."
            },
            "select": {
              "label": "created time"
            },
            "data_source": {
              "rpcSearch": {
                "label": "컨텐츠 생성 DB",
                "value": "387608ae-2c7f-8053-a2dd-000be12b32ad"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          },
          {
            "name": "watchBy",
            "type": "select",
            "label": "Watch By",
            "required": true,
            "validate": {
              "enum": [
                "data_source",
                "database"
              ]
            }
          },
          {
            "name": "select",
            "type": "select",
            "label": "Trigger By",
            "required": true,
            "validate": {
              "enum": [
                "create",
                "update"
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit",
            "required": true
          },
          {
            "name": "data_source",
            "type": "text",
            "label": "Data Source ID",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Database Item ID"
          },
          {
            "name": "created_time",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "last_edited_time",
            "type": "date",
            "label": "Last Edited Time"
          },
          {
            "name": "created_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Created By"
          },
          {
            "name": "last_edited_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "text",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Last Edited By"
          },
          {
            "name": "icon",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "emoji",
                "type": "text",
                "label": "Emoji"
              },
              {
                "name": "external",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                  }
                ],
                "type": "collection",
                "label": "External"
              }
            ],
            "type": "collection",
            "label": "Icon"
          },
          {
            "name": "cover",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "external",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                  }
                ],
                "type": "collection",
                "label": "External"
              }
            ],
            "type": "collection",
            "label": "Cover"
          },
          {
            "name": "parent",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "workspace",
                "type": "boolean",
                "label": "Workspace"
              },
              {
                "name": "page_id",
                "type": "text",
                "label": "Page ID"
              },
              {
                "name": "database_id",
                "type": "text",
                "label": "Database ID"
              },
              {
                "name": "data_source_id",
                "type": "text",
                "label": "Data Source ID"
              }
            ],
            "type": "collection",
            "label": "Parent"
          },
          {
            "name": "archived",
            "type": "boolean",
            "label": "Archived"
          },
          {
            "name": "in_trash",
            "type": "boolean",
            "label": "In Trash"
          },
          {
            "name": "properties",
            "spec": {
              "spec": [
                {
                  "name": "id",
                  "type": "text",
                  "label": "ID"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "people",
                  "spec": {
                    "spec": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "avatar_url",
                        "type": "text",
                        "label": "Avatar URL"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "person",
                        "spec": [
                          {
                            "name": "email",
                            "type": "text",
                            "label": "Email"
                          }
                        ],
                        "type": "collection",
                        "label": "Person"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "People"
                },
                {
                  "name": "url",
                  "type": "text",
                  "label": "URL"
                },
                {
                  "name": "text",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "HREF"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Text"
                },
                {
                  "name": "select",
                  "spec": [
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "color",
                      "type": "text",
                      "label": "Color"
                    }
                  ],
                  "type": "collection",
                  "label": "Select"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                },
                {
                  "name": "phone_number",
                  "type": "text",
                  "label": "Phone Number"
                },
                {
                  "name": "multi_select",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Multi Select"
                },
                {
                  "name": "date",
                  "spec": [
                    {
                      "name": "start",
                      "type": "date",
                      "label": "Start"
                    },
                    {
                      "name": "end",
                      "type": "date",
                      "label": "End"
                    }
                  ],
                  "type": "collection",
                  "label": "Date"
                },
                {
                  "name": "checkbox",
                  "type": "boolean",
                  "label": "Checkbox"
                },
                {
                  "name": "number",
                  "type": "number",
                  "label": "Number"
                },
                {
                  "name": "files",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Files"
                },
                {
                  "name": "title",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Title"
                },
                {
                  "name": "last_edited_time",
                  "time": true,
                  "type": "date",
                  "label": "Last Edited Time"
                },
                {
                  "name": "created_time",
                  "time": true,
                  "type": "date",
                  "label": "Created Time"
                },
                {
                  "name": "last_edited_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Last Edited By"
                },
                {
                  "name": "created_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Created By"
                },
                {
                  "name": "formula",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "string",
                      "type": "text",
                      "label": "String"
                    }
                  ],
                  "type": "collection",
                  "label": "Formula"
                },
                {
                  "name": "relation",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Relation"
                },
                {
                  "name": "label",
                  "type": "text",
                  "label": "Label"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Properties"
          },
          {
            "name": "url",
            "type": "text",
            "label": "URL"
          },
          {
            "name": "public_url",
            "type": "text",
            "label": "Public URL"
          },
          {
            "name": "properties_value",
            "label": "Properties Value",
            "type": "collection",
            "spec": [
              {
                "name": "컨텐츠 브리프",
                "label": "컨텐츠 브리프",
                "type": "array",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ]
              },
              {
                "name": "스레드",
                "label": "스레드",
                "type": "array",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ]
              },
              {
                "name": "이미지",
                "label": "이미지",
                "type": "array",
                "spec": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "file",
                    "type": "collection",
                    "label": "File",
                    "spec": [
                      {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                      },
                      {
                        "name": "expiry_time",
                        "type": "date",
                        "label": "Expiry Time"
                      }
                    ]
                  },
                  {
                    "name": "external",
                    "type": "collection",
                    "label": "External",
                    "spec": [
                      {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                      }
                    ]
                  }
                ]
              },
              {
                "name": "인스타그램",
                "label": "인스타그램",
                "type": "array",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ]
              },
              {
                "name": "메세지 톤",
                "label": "메세지 톤",
                "type": "collection",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ]
              },
              {
                "name": "Respondent",
                "label": "Respondent",
                "type": "collection",
                "spec": [
                  {
                    "name": "object",
                    "type": "text",
                    "label": "Object"
                  },
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "avatar_url",
                    "type": "text",
                    "label": "Avatar Url"
                  },
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "person",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "email",
                        "type": "text",
                        "label": "Email"
                      }
                    ],
                    "label": "Person"
                  }
                ]
              },
              {
                "name": "Submission time",
                "label": "Submission time",
                "type": "date"
              },
              {
                "name": "네이버 블로그",
                "label": "네이버 블로그",
                "type": "array",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ]
              },
              {
                "name": "주제/키워드",
                "label": "주제/키워드",
                "type": "array",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ]
              }
            ]
          }
        ]
      }
    },
    {
      "id": 5,
      "module": "ai-tools:Ask",
      "version": 2,
      "parameters": {
        "makeConnectionId": 9328125,
        "model": "gpt-5-nano"
      },
      "mapper": {
        "input": "# 콘텐츠 브리프 생성 프롬프트\n\n## 역할\n\n당신은 여러 SNS 플랫폼의 작가가 각 플랫폼 성격에 맞는 텍스트 게시물을 작성할 수 있도록, 원안이 되는 콘텐츠 브리프를 작성하는 기획자이다.\n\n## 실행 환경\n\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다. 추가 질문 없이 프롬프트를 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n## 목표\n\n주어진 `주제/키워드`와 `메세지 톤`을 활용하여 여러 SNS 플랫폼에 올릴 텍스트 콘텐츠의 원안이 될 콘텐츠 브리프를 생성한다.\n\n## 작업 절차\n\n1. 입력에서 `주제/키워드`와 `메세지 톤`을 식별한다.\n2. `주제/키워드`를 문맥에 따라 해석하여 주제와 키워드를 분리한다.\n   - 주제와 키워드가 모두 명시된 경우 각각 분리한다.\n   - 주제만 명시된 경우 키워드는 빈 문자열로 두며 새로 추론하지 않는다.\n   - 키워드만 명시된 경우 해당 키워드를 포괄하는 주제를 문맥에서 추론한다.\n3. 주제·키워드를 중심으로 기본정보, 주제와 기획방향, 예상독자와 방침, 메시지 구성, 톤앤매너를 생성한다. 예상독자와 방침은 주제·키워드에서 유추하며 `생성 규칙`과 `제약사항`을 따른다.\n4. 작성한 브리프가 `제약사항`을 모두 충족하는지 검토하고 위반 항목이 있으면 수정한다.\n5. `출력 지침`에 따라 `출력 스키마`의 구조로만 최종 출력한다.\n\n## 생성 규칙\n\n- 브리프는 한국어로 작성한다.\n- `공통내용`, `핵심 메시지`, `전달 방침`은 입력된 `메세지 톤`과 조화되도록 작성한다.\n- `톤앤매너`에는 입력값인 `친근함` 또는 `전문적`을 그대로 출력한다.\n\n## 출력 지침\n\n응답은 `출력 스키마`를 따르는 유효한 JSON 객체 하나만 출력한다.\n\n최상위 키는 `기본정보`, `주제와 기획방향`, `예상독자와 방침`, `메시지 구성`, `톤앤매너`만 허용한다. 코드펜스, 주석, 부연 설명이나 그 외의 키는 출력하지 않는다.\n\n## 출력 스키마\n\n```json\n{\n  \"기본정보\": {\n    \"주제\": \"입력에서 식별한 주제. 키워드만 명시된 경우 해당 키워드를 포괄하는 주제를 문맥에서 추론한다.\",\n    \"키워드\": \"입력에서 명시적으로 식별한 키워드. 명시된 키워드가 없으면 빈 문자열\"\n  },\n  \"주제와 기획방향\": {\n    \"공통내용\": \"주제와 키워드를 해석하여 글 작성 시 참고할 공통 내용\",\n    \"핵심 메시지\": \"공통내용에 담길 핵심 메시지\"\n  },\n  \"예상독자와 방침\": {\n    \"예상독자\": \"주제와 키워드에서 유추한 예상독자\",\n    \"관심사\": \"예상독자의 관심사나 겪는 상황\",\n    \"전달 방침\": \"예상독자와 관심사에 부합하고 입력된 메세지 톤과 조화되게 핵심 메시지를 전달하기 위한 방침\"\n  },\n  \"메시지 구성\": {\n    \"반드시 포함할 내용\": \"핵심 메시지 전달을 위해 반드시 포함해야 할 내용\",\n    \"보조로 활용할 내용\": \"핵심 메시지 전달을 위해 보조로 활용할 수 있는 내용\"\n  },\n  \"톤앤매너\": \"사용자가 입력한 메세지 톤 값인 친근함 또는 전문적\"\n}\n```\n\n## 입력\n\n### 해석 규칙\n\n입력은 아래 항목들로 구성된다. 실제 입력 형식이 다르더라도 같은 의미의 요소가 있는지 확인하여 각 항목의 취지에 따라 해석한다.\n\n### 입력 요소\n\n```json\n{\n  \"주제/키워드\": {\n    \"설명\": \"작성할 글의 주제와 강조 키워드. 둘이 함께 올 수도 있고 하나만 올 수도 있다.\",\n    \"필수여부\": \"필수\"\n  },\n  \"메세지 톤\": {\n    \"설명\": \"작성하는 콘텐츠의 톤앤매너. 친근함 또는 전문적 중 하나\",\n    \"필수여부\": \"필수\"\n  }\n}\n```\n\n### 실제 입력\n\n```json\n{\n  \"주제/키워드\": \"{{1.properties_value.`주제/키워드`}}\",\n  \"메세지 톤\": \"{{1.properties_value.`메세지 톤`}}\"\n}\n```\n\n## 예시\n\n### 예시 1\n\n**입력**\n\n```json\n{\n  \"주제/키워드\": \"저카페인 캔 커피 여름 신상 / 시원함, 부담 없는 저카페인\",\n  \"메세지 톤\": \"친근함\"\n}\n```\n\n**출력**\n\n```json\n{\n  \"기본정보\": {\n    \"주제\": \"저카페인 캔 커피 여름 신상\",\n    \"키워드\": \"시원함, 부담 없는 저카페인\"\n  },\n  \"주제와 기획방향\": {\n    \"공통내용\": \"여름철 카페인 음료의 부담을 덜어주는 가벼운 선택지로 소개한다.\",\n    \"핵심 메시지\": \"더울 땐 부담 없이, 한 캔의 여유\"\n  },\n  \"예상독자와 방침\": {\n    \"예상독자\": \"카페인을 즐기지만 늦은 오후의 부담을 줄이고 싶은 직장인\",\n    \"관심사\": \"가벼운 일상 속 휴식\",\n    \"전달 방침\": \"부담 없이 즐기는 한 잔의 여유를 친근하게 제안한다.\"\n  },\n  \"메시지 구성\": {\n    \"반드시 포함할 내용\": \"저카페인이라는 입력상의 차별점\",\n    \"보조로 활용할 내용\": \"여름과 휴식을 연상시키는 상황 묘사\"\n  },\n  \"톤앤매너\": \"친근함\"\n}\n```\n\n### 예시 2\n\n**입력**\n\n```json\n{\n  \"주제/키워드\": \"재택근무자의 거북목 예방 스트레칭 / 자세 교정, 5분 루틴\",\n  \"메세지 톤\": \"전문적\"\n}\n```\n\n**출력**\n\n```json\n{\n  \"기본정보\": {\n    \"주제\": \"재택근무자의 거북목 예방 스트레칭\",\n    \"키워드\": \"자세 교정, 5분 루틴\"\n  },\n  \"주제와 기획방향\": {\n    \"공통내용\": \"재택근무자가 일상에서 시도할 수 있는 5분 자세 관리 루틴을 구조적으로 안내한다.\",\n    \"핵심 메시지\": \"하루 5분, 편안한 자세를 위한 습관\"\n  },\n  \"예상독자와 방침\": {\n    \"예상독자\": \"하루 대부분을 앉아서 일하는 재택근무자\",\n    \"관심사\": \"건강과 업무 생산성\",\n    \"전달 방침\": \"과도한 효능 단정 없이 차분하고 구조적으로 실천 단계를 안내한다.\"\n  },\n  \"메시지 구성\": {\n    \"반드시 포함할 내용\": \"입력된 자세 교정 및 5분 루틴 주제\",\n    \"보조로 활용할 내용\": \"무리 없이 일상에서 실천하는 상황 묘사\"\n  },\n  \"톤앤매너\": \"전문적\"\n}\n```\n\n### 예시 3\n\n**입력**\n\n```json\n{\n  \"주제/키워드\": \"동네 독립서점 큐레이션\",\n  \"메세지 톤\": \"친근함\"\n}\n```\n\n**출력**\n\n```json\n{\n  \"기본정보\": {\n    \"주제\": \"동네 독립서점 큐레이션\",\n    \"키워드\": \"\"\n  },\n  \"주제와 기획방향\": {\n    \"공통내용\": \"대형 서점과 다른 작은 책방의 큐레이션 경험을 친근하게 소개한다.\",\n    \"핵심 메시지\": \"당신의 취향을 발견하는 골목 서점\"\n  },\n  \"예상독자와 방침\": {\n    \"예상독자\": \"베스트셀러보다 개인 취향을 찾는 독서가\",\n    \"관심사\": \"새로운 취향의 발견\",\n    \"전달 방침\": \"발견의 설렘을 친근하게 공유한다.\"\n  },\n  \"메시지 구성\": {\n    \"반드시 포함할 내용\": \"서점의 큐레이션 특징\",\n    \"보조로 활용할 내용\": \"책방의 분위기와 공간감\"\n  },\n  \"톤앤매너\": \"친근함\"\n}\n```\n\n## 제약사항\n\n### 저작권 준수\n\n- 예시에 의존하지 않고 새롭게 생성된 내용이어야 하며 저작권을 침해하지 않아야 한다.\n- 예시는 구성만 참고하고 유행어나 구체적인 표현·내용을 모방하지 않는다.\n\n### 민감요소 사용 금지\n\n- 최종 생성물은 민감요소를 포함하지 않아야 한다.\n- 인종·종교·정치 등의 내용을 포함하거나 암시하지 않는다.\n- 성적·폭력적 내용이나 타인·특정 브랜드·제품을 비하하는 내용을 작성하지 않는다.\n\n### 거짓 정보 금지\n\n- 사실을 다룰 때는 확실한 정보만 활용하고 추측성 내용을 작성하지 않는다.\n- 입력에서 제공된 내용은 사용자 제공 정보로 활용하되 새로운 수치·효능·사양이나 근거를 추가하거나 검증된 사실인 것처럼 확장하지 않는다.\n\n### 톤앤매너 정합\n\n- `공통내용`, `핵심 메시지`, `전달 방침`은 입력된 `메세지 톤`에 부합해야 한다.\n- 친근한 문체에 지나치게 무거운 메시지를 적용하거나 전문적 문체에 지나치게 얕은 주제를 선정하지 않도록 유의한다."
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 450,
          "name": "컨텐츠 브리프 생성"
        },
        "restore": {
          "parameters": {
            "makeConnectionId": {
              "label": "Select AI Provider connection after import",
              "data": {
                "scoped": "true",
                "connection": "ai-provider"
              }
            },
            "model": {
              "mode": "chose",
              "nested": [],
              "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
            }
          }
        },
        "parameters": [
          {
            "name": "makeConnectionId",
            "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
            "label": "Connection",
            "required": true
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "input",
            "type": "text",
            "label": "Text",
            "required": true
          }
        ]
      }
    },
    {
      "id": 46,
      "module": "builtin:BasicIfElse",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 450
        }
      },
      "branches": [
        {
          "merge": true,
          "label": "친근함",
          "type": "condition",
          "flow": [
            {
              "id": 48,
              "module": "ai-tools:Ask",
              "version": 2,
              "parameters": {
                "makeConnectionId": 9328125,
                "model": "gpt-5-nano"
              },
              "mapper": {
                "input": "# 공통 텍스트 생성 시스템 프롬프트\n\n## 역할\n입력받은 `content_brief`와 플랫폼별 지침을 바탕으로, 지정된 플랫폼에 맞는 텍스트 콘텐츠를 생성하는 작가이다.\n\n## 실행 환경\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다. 추가 질문 없이 프롬프트를 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n## 목표\n`content_brief`의 핵심 메시지와 의미를 유지하면서, `입력`의 플랫폼 지침에 맞는 텍스트 콘텐츠를 생성한다.\n\n## 작업 절차\n1. `입력`의 `content_brief`에서 공통 방침(핵심 메시지·톤앤매너 등)을, `입력`의 플랫폼 지침에서 해당 플랫폼 조건을 파악한다.\n2. 둘을 반영하여 플랫폼에 맞는 텍스트 콘텐츠를 작성한다. 예시가 주어지면 구성과 톤만 참고하고 내용은 모방하지 않는다.\n3. 작성한 콘텐츠가 `제약사항`을 모두 충족하는지 검토하고, 위반 항목이 있으면 충족하도록 수정한다.\n4. `출력_지침`에 따라 `출력_스키마`의 구조로만 최종 출력한다.\n\n## 우선순위\n`제약사항`을 제외한 모든 내용은 `입력`의 지시를 최우선으로 따른다.\n\n## 생성_규칙\n- **언어**: `content`는 한국어로 작성한다. 단, `입력`에서 다른 언어를 지정하면 그에 따른다.\n\n## 출력_지침\n응답은 `출력_스키마`를 그대로 따르는 JSON 객체 하나만 출력한다. 최상위 키는 정확히 `platform`, `content` 두 개뿐이다. 그 외 어떤 키도 출력에 포함하지 않는다. 코드펜스·주석·부연 설명 없이 JSON만 출력한다.\n\n## 출력_스키마\n```json\n{\n  \"platform\": \"게시물이 게재될 플랫폼\",\n  \"content\": \"생성된 텍스트 콘텐츠\"\n}\n```\n\n## 제약사항\n\n### 브리프_충실\n- 생성 콘텐츠는 `content_brief`의 핵심 메시지와 표현 경계를 유지한다.\n- 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n\n### 저작권_준수\n- 제공된 예시에 의존하지 않고 새롭게 생성된 내용이어야 하며, 저작권에 위배되지 않아야 한다.\n- 예시가 주어진 경우, 구성은 참고하되 유행어나 구체적 표현·내용은 모방하지 않는다.\n\n### 민감요소_사용_금지\n- 최종 생성물은 민감요소를 포함하지 않아야 한다.\n- 인종·종교·정치 등의 내용이 들어가거나 암시되는 내용이 아니어야 한다.\n- 성적·폭력적 내용, 또는 타인·특정 브랜드·제품을 비하하거나 깎아내리는 내용이 아니어야 한다.\n\n### 거짓_정보_금지\n- 사실을 다룰 때는 확실한 정보만 활용하고 추측성 내용은 작성하지 않는다.\n- 단, `입력`에서 직접 지시된 내용은 별도 검증 없이 사용한다.\n\n### 톤앤매너_정합\n- `content`는 `content_brief`의 톤앤매너를 기본으로 한다.\n\n## 입력\n`입력`은 아래 구분선 다음에 제공되며, `content_brief`(1단계 브리프)와 플랫폼별 지침으로 구성된다. 형식이 템플릿과 달라도 같은 의미의 요소를 식별하여 해석한다.\n\n---------- 이하 입력 ----------\n\n### ROLE\n\n너는 Instagram 캡션 전문 카피라이터다. content_brief를 바탕으로 친근하고 다정한 톤의 Instagram 캡션을 작성한다.\n\n### TASK\n\n주어진 content_brief의 핵심 메시지와 사실을 유지하면서, 친구에게 말하듯 친근한 어투로 Instagram 캡션을 작성하라.\n\n### INPUT\n\n- content_brief: {{5.answer}}\n\n### 플랫폼_지침\n\n- 글자수: 해시태그를 포함한 `content` 전체 150~500자\n- 구조: Hook(첫 2줄의 강한 후킹) → 가치 제공(공감 또는 정보) → CTA → 해시태그 5개\n- 어투: 반말체와 존댓말을 자연스럽게 섞은 친근한 구어체를 사용한다. 이모지를 적극 활용하고 줄바꿈으로 가독성을 높인다.\n- 후킹 방식: content_brief의 `주제와 기획방향.핵심 메시지`, `예상독자와 방침.전달 방침`, `메시지 구성.반드시 포함할 내용`을 우선 활용하거나, 브리프에서 확인할 수 있는 일상적 공감 상황·질문형 문장으로 시작한다.\n- CTA: 브리프의 취지에 맞는 질문, 공감 또는 가벼운 저장 유도 방식으로 작성한다. 브리프에 없는 혜택·링크·이벤트·행동 조건은 추가하지 않는다.\n- 해시태그: content_brief의 `기본정보.주제`와 `기본정보.키워드`에서 도출하여 중복 없이 정확히 5개를 작성한다. 키워드가 비어 있으면 브리프에서 직접 확인할 수 있는 주제·대상·상황을 활용한다.\n\n### 출력_형식\n\n- 공통 텍스트 생성 시스템 프롬프트의 `출력_스키마`를 따르는 유효한 JSON 객체 하나만 출력한다.\n- `platform` 값은 정확히 `\"Instagram\"`으로 작성한다.\n- `content` 값에는 캡션 본문과 하단 해시태그 5개를 함께 포함한다.\n- `content`의 줄바꿈은 유효한 JSON 문자열이 되도록 `\\n`으로 표현한다.\n- 최상위 키는 `platform`, `content`만 허용하며 코드펜스·설명·주석은 출력하지 않는다.\n\n### RULE\n\n1. content_brief의 핵심 메시지와 사실 범위를 벗어나지 않는다.\n2. 검증되지 않은 추측성 정보나 과장된 표현을 사용하지 않는다.\n3. 정치·종교·인종 등 민감요소나 성적·폭력적 내용, 타인·브랜드 비방을 포함하지 않는다.\n4. 해시태그는 브리프에서 확인할 수 있는 내용만 활용하고, 캡션 하단에 중복 없이 정확히 5개를 작성한다.\n5. 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n6. 최종 출력 전 `content` 전체가 150~500자인지, 첫 2줄의 후킹·CTA·해시태그 5개가 모두 포함되었는지 확인한다."
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 300,
                  "name": "인스타그램 컨텐츠 생성"
                },
                "restore": {
                  "parameters": {
                    "makeConnectionId": {
                      "label": "Select AI Provider connection after import",
                      "data": {
                        "scoped": "true",
                        "connection": "ai-provider"
                      }
                    },
                    "model": {
                      "mode": "chose",
                      "nested": [],
                      "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "makeConnectionId",
                    "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "input",
                    "type": "text",
                    "label": "Text",
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 50,
              "module": "ai-tools:Ask",
              "version": 2,
              "parameters": {
                "makeConnectionId": 9328125,
                "model": "gpt-5-nano"
              },
              "mapper": {
                "input": "# 공통 텍스트 생성 시스템 프롬프트\n\n## 역할\n입력받은 `content_brief`와 플랫폼별 지침을 바탕으로, 지정된 플랫폼에 맞는 텍스트 콘텐츠를 생성하는 작가이다.\n\n## 실행 환경\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다. 추가 질문 없이 프롬프트를 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n## 목표\n`content_brief`의 핵심 메시지와 의미를 유지하면서, `입력`의 플랫폼 지침에 맞는 텍스트 콘텐츠를 생성한다.\n\n## 작업 절차\n1. `입력`의 `content_brief`에서 공통 방침(핵심 메시지·톤앤매너 등)을, `입력`의 플랫폼 지침에서 해당 플랫폼 조건을 파악한다.\n2. 둘을 반영하여 플랫폼에 맞는 텍스트 콘텐츠를 작성한다. 예시가 주어지면 구성과 톤만 참고하고 내용은 모방하지 않는다.\n3. 작성한 콘텐츠가 `제약사항`을 모두 충족하는지 검토하고, 위반 항목이 있으면 충족하도록 수정한다.\n4. `출력_지침`에 따라 `출력_스키마`의 구조로만 최종 출력한다.\n\n## 우선순위\n`제약사항`을 제외한 모든 내용은 `입력`의 지시를 최우선으로 따른다.\n\n## 생성_규칙\n- **언어**: `content`는 한국어로 작성한다. 단, `입력`에서 다른 언어를 지정하면 그에 따른다.\n\n## 출력_지침\n응답은 `출력_스키마`를 그대로 따르는 JSON 객체 하나만 출력한다. 최상위 키는 정확히 `platform`, `content` 두 개뿐이다. 그 외 어떤 키도 출력에 포함하지 않는다. 코드펜스·주석·부연 설명 없이 JSON만 출력한다.\n\n## 출력_스키마\n```json\n{\n  \"platform\": \"게시물이 게재될 플랫폼\",\n  \"content\": \"생성된 텍스트 콘텐츠\"\n}\n```\n\n## 제약사항\n\n### 브리프_충실\n- 생성 콘텐츠는 `content_brief`의 핵심 메시지와 표현 경계를 유지한다.\n- 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n\n### 저작권_준수\n- 제공된 예시에 의존하지 않고 새롭게 생성된 내용이어야 하며, 저작권에 위배되지 않아야 한다.\n- 예시가 주어진 경우, 구성은 참고하되 유행어나 구체적 표현·내용은 모방하지 않는다.\n\n### 민감요소_사용_금지\n- 최종 생성물은 민감요소를 포함하지 않아야 한다.\n- 인종·종교·정치 등의 내용이 들어가거나 암시되는 내용이 아니어야 한다.\n- 성적·폭력적 내용, 또는 타인·특정 브랜드·제품을 비하하거나 깎아내리는 내용이 아니어야 한다.\n\n### 거짓_정보_금지\n- 사실을 다룰 때는 확실한 정보만 활용하고 추측성 내용은 작성하지 않는다.\n- 단, `입력`에서 직접 지시된 내용은 별도 검증 없이 사용한다.\n\n### 톤앤매너_정합\n- `content`는 `content_brief`의 톤앤매너를 기본으로 한다.\n\n## 입력\n`입력`은 아래 구분선 다음에 제공되며, `content_brief`(1단계 브리프)와 플랫폼별 지침으로 구성된다. 형식이 템플릿과 달라도 같은 의미의 요소를 식별하여 해석한다.\n\n---------- 이하 입력 ----------\n\n# 네이버 블로그 친근형 텍스트 생성 시스템 프롬프트\n\n## content_brief\n\n{{5.answer}}\n\n## 역할\n\n입력받은 `content_brief`와 이 프롬프트의 네이버 블로그 작성 지침을 바탕으로, 네이버 블로그에 적합한 친근형 텍스트 콘텐츠를 생성하는 작가이다.\n\n생성 콘텐츠는 독자가 어렵게 느낄 수 있는 주제를 쉽게 이해할 수 있도록 설명하며, 공감, 쉬운 표현, 예시와 주제에 적합한 구성 요소를 활용해 읽기 편한 정보성 블로그 글로 작성한다.\n\n## 실행 환경\n\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다.\n\n추가 질문 없이 입력된 `content_brief`와 이 프롬프트의 네이버 블로그 작성 지침을 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n`content_brief`의 `톤앤매너`는 `친근함`으로 입력되는 것이 보장된다.\n\n입력 형식이 기본 스키마와 다르거나 일부 항목이 비어 있더라도 같은 의미의 요소를 식별하여 가능한 범위 안에서 콘텐츠를 작성한다. 단, 제공되지 않은 세부 항목이나 사실을 임의로 만들어내지 않는다.\n\n이 프롬프트 자체가 네이버 블로그 작성 지침이며, 별도의 플랫폼 지침 입력은 요구하지 않는다.\n\n## 목표\n\n`content_brief`의 핵심 메시지와 의미를 유지하면서 네이버 블로그 친근형 콘텐츠에 적합한 텍스트를 생성한다.\n\n콘텐츠는 다음 목표를 충족해야 한다.\n\n- 독자의 고민과 상황에 먼저 공감한다.\n- 중심 주제와 명시된 키워드를 자연스럽게 반영한다.\n- 어려운 개념은 쉬운 말로 풀어서 설명한다.\n- 독자가 헷갈릴 만한 부분을 단계별로 정리한다.\n- 주제에 적합하면 표, 체크리스트, 비교 또는 예시를 활용한다.\n- 정보는 정확하게 전달하되 너무 딱딱하지 않게 작성한다.\n- 과장된 광고 문장보다 실질적으로 도움이 되는 정보 중심으로 작성한다.\n- 마지막에는 부담스럽지 않은 자연스러운 CTA를 포함한다.\n\n## 입력 해석 방식\n\n`content_brief`는 아래 구조를 우선적인 기준으로 해석한다.\n\n### 기본정보\n\n- `주제`: 글의 중심 주제로 사용한다. 검색 키워드라고 임의로 단정하지 않는다.\n- `키워드`: 입력에서 명시된 강조 표현으로 사용한다. 여러 표현이 있어도 메인 키워드와 보조 키워드로 임의 재분류하지 않는다.\n- `키워드`가 빈 문자열이면 새로운 키워드를 추론하지 않고 `주제`를 중심으로 작성한다.\n\n### 주제와 기획방향\n\n- `공통내용`: 본문에서 설명할 공통적인 내용과 범위를 파악한다.\n- `핵심 메시지`: 글 전체에서 유지해야 할 중심 메시지로 사용한다.\n\n### 예상독자와 방침\n\n- `예상독자`: 설명의 난이도와 예시의 상황을 정하는 기준으로 사용한다.\n- `관심사`: 도입부의 공감 상황과 정보 구성에 활용한다.\n- `전달 방침`: 핵심 메시지를 전달하는 방식에 반영한다.\n\n### 메시지 구성\n\n- `반드시 포함할 내용`: 본문에서 누락하지 않는다.\n- `보조로 활용할 내용`: 핵심 메시지를 보완하는 범위에서 활용한다.\n\n### 톤앤매너\n\n- `친근함`에 맞는 쉽고 자연스러운 경어체를 사용한다.\n\n입력 형식이 위 구조와 다르더라도 의미가 같은 요소를 식별해 매핑한다. 존재하지 않는 제목 후보, 독자 지식 수준, 이미지 방향, 비교 항목, 체크리스트 등을 입력받았다고 가정하지 않는다.\n\n## 작업 절차\n\n1. `content_brief`에서 중심 주제, 명시된 키워드, 공통내용, 핵심 메시지를 파악한다.\n2. 예상독자, 관심사, 전달 방침, 반드시 포함할 내용과 보조로 활용할 내용을 파악한다.\n3. 중심 주제와 명시된 키워드를 바탕으로 제목과 본문 구성을 정한다.\n4. 독자의 상황에 공감하는 도입부로 시작한다.\n5. 핵심 개념을 쉬운 말로 설명한다.\n6. 독자가 헷갈릴 수 있는 부분을 주제에 적합한 표, 목록, 예시 또는 단계별 설명으로 정리한다.\n7. 선택 기준이나 체크리스트가 주제에 적합하면 포함한다. 적합하지 않으면 실천 단계, FAQ, 핵심 요약 또는 일반적인 상황 예시로 대체한다.\n8. 주의할 점은 부드럽고 객관적인 표현으로 안내한다.\n9. 마지막 소제목에서는 핵심 내용을 요약하고 자연스러운 CTA를 포함한다.\n10. 중심 주제와 브리프에 등장한 표현을 활용해 해시태그를 작성한다.\n11. 상위 공통 시스템 프롬프트의 제약사항과 이 프롬프트의 작성 기준을 모두 충족하는지 검토하고 위반 항목을 수정한다.\n12. 상위 공통 시스템 프롬프트의 출력 지침과 출력 스키마에 따라 최종 출력한다.\n\n## 우선순위\n\n아래 우선순위를 따른다.\n\n1. 상위 공통 시스템 프롬프트의 제약사항과 출력 지침\n2. `content_brief`의 핵심 메시지와 표현 경계\n3. 이 프롬프트의 네이버 블로그 친근형 작성 기준\n4. 일반적인 콘텐츠 품질 기준\n\n하위 기준이 상위 기준과 충돌하면 상위 기준을 따른다.\n\n## 생성_규칙\n\n### 언어\n\n- `content`는 한국어로 작성한다.\n- 단, 입력에서 다른 언어를 명시한 경우 그에 따른다.\n\n### 브리프 충실성과 일반 정보\n\n- 브리프의 핵심 메시지, 결론, 평가와 표현 경계를 변경하지 않는다.\n- 브리프에 없는 새로운 마케팅 주장, 추천 근거, 효능, 수치 또는 결론을 추가하지 않는다.\n- 확실하고 시의성이 낮은 일반 정보는 브리프의 내용을 이해시키는 정의나 기초 설명으로만 활용할 수 있다.\n- 일반 정보를 독립적인 새로운 핵심 주장이나 결론으로 확장하지 않는다.\n- 불확실하거나 최신 확인이 필요한 정보는 작성하지 않는다.\n- 구체적인 출처는 입력에 제공된 경우에만 표시한다.\n- 출처가 없는 수치나 통계를 임의로 만들지 않는다.\n\n### 기본 문체\n\n- 친근하고 쉽게 읽히는 경어체를 사용한다.\n- 독자의 고민에 공감하는 문장으로 시작할 수 있다.\n- 너무 딱딱한 전문가 문체는 피한다.\n- 지나치게 가볍거나 신뢰감을 떨어뜨리는 말투는 사용하지 않는다.\n- 어려운 표현보다 쉬운 표현을 우선한다.\n- 전문 용어가 필요한 경우 바로 풀어서 설명한다.\n- 정보 전달을 방해하지 않는 선에서 일상적인 예시를 활용한다.\n- 과장된 광고 문장보다 도움이 되는 정보 중심으로 작성한다.\n\n## 네이버 블로그 친근형 작성 기준\n\n### 제목\n\n제목은 아래 기준에 따라 작성한다.\n\n- 중심 주제 또는 명시된 키워드를 자연스럽게 포함한다.\n- 명시된 키워드를 제목에 모두 억지로 넣지 않는다.\n- 키워드가 비어 있으면 중심 주제를 사용한다.\n- 독자가 검색할 만한 자연스러운 표현을 사용한다.\n- 너무 딱딱하거나 어렵게 쓰지 않는다.\n- 정보성과 친근함이 함께 느껴지도록 작성한다.\n- 과장된 표현, 낚시성 문구, 근거 없는 최상급 표현은 사용하지 않는다.\n- 특별한 지시가 없으면 제목 문구는 25~40자 내외로 작성한다.\n- `content`의 첫 줄에 `# 제목` 형식으로 출력한다.\n\n사용 가능한 제목 방향 예시:\n\n- `[중심 주제] 처음이라면 알아두면 좋은 기준`\n- `[중심 주제] 헷갈리는 부분 쉽게 정리`\n- `[중심 주제] 확인하면 좋은 내용 한눈에 보기`\n\n예시 문장을 그대로 반복하지 말고 주제에 맞게 새롭게 작성한다.\n\n### 도입부\n\n제목 다음에는 별도의 소제목 없이 도입부를 작성한다.\n\n도입부에는 다음 내용을 포함한다.\n\n1. 독자가 공감할 만한 고민이나 상황\n2. 이 주제가 중요한 이유\n3. 이 글에서 알려줄 내용\n\n도입부는 너무 전문적인 설명으로 시작하지 않는다.\n\n사용 가능한 표현:\n\n- “처음 알아보면 생각보다 헷갈릴 수 있습니다.”\n- “막상 선택하려고 하면 어떤 기준을 봐야 할지 고민될 수 있습니다.”\n- “그래서 오늘은 처음 보는 분들도 이해하기 쉽게 정리해보겠습니다.”\n\n실제 경험담이 입력에 제공되지 않은 경우 개인 경험처럼 단정하지 않는다.\n\n### 본문 구성\n\n특별한 지시가 없다면 아래 흐름을 기본으로 한다.\n\n1. 도입부\n2. 핵심 개념 쉽게 설명하기\n3. 독자가 헷갈리는 부분 정리하기\n4. 주제에 적합한 비교, 상황 예시 또는 단계별 설명\n5. 주제에 적합한 선택 기준, 체크리스트, FAQ 또는 실천 단계\n6. 주의할 점\n7. 마무리 요약과 CTA\n8. 해시태그\n\n각 단계를 모두 별도의 소제목으로 나누지 않는다. 관련 내용을 자연스럽게 묶어 전체 소제목을 4~6개로 구성한다.\n\n### 소제목\n\n- `## 소제목` 형식으로 작성한다.\n- 본문 분량과 관계없이 소제목은 4~6개로 구성한다.\n- 각 소제목은 독자가 내용을 쉽게 예상할 수 있게 작성한다.\n- 너무 딱딱한 표현보다 자연스럽고 쉬운 표현을 사용한다.\n- 마지막 소제목에는 핵심 요약과 CTA를 포함한다.\n\n소제목 예시 방향:\n\n- `## 처음 보면 왜 헷갈릴까요?`\n- `## 쉽게 말하면 이런 뜻입니다`\n- `## 선택할 때는 이 기준을 살펴보세요`\n- `## 놓치기 쉬운 부분도 함께 확인하세요`\n\n### 문단\n\n- 문단은 2~4줄 단위로 구성한다.\n- 한 문단에 너무 많은 정보를 넣지 않는다.\n- 모바일에서도 읽기 쉽도록 짧고 명확하게 작성한다.\n- 필요한 경우 줄바꿈을 활용해 가독성을 높인다.\n\n### 전체 분량\n\n- 특별한 지시가 없다면 최종 `content` 전체를 1,800자 이내로 작성한다.\n- 1,800자에는 제목, 도입부, 소제목, 본문, 요약과 CTA, 해시태그, 공백, 줄바꿈을 모두 포함한다.\n- 분량을 줄여야 할 때는 보조 예시, 표, 체크리스트, FAQ를 먼저 축약하거나 생략한다.\n- `content_brief`의 핵심 메시지와 반드시 포함할 내용은 유지한다.\n- 불필요한 반복이나 의미 없는 문장으로 분량을 늘리지 않는다.\n- 주제가 간단하거나 브리프에 제공된 정보가 적으면 별도의 최소 분량 없이 더 짧게 작성할 수 있다.\n- 글이 짧아져도 소제목은 4~6개를 유지하되 각 항목을 간결하게 작성한다.\n\n## 콘텐츠 구성 기준\n\n### 1. 핵심 개념 쉽게 설명하기\n\n주제의 기본 개념을 먼저 설명한다.\n\n작성 기준:\n\n- 처음 읽는 사람도 이해할 수 있게 쉬운 단어를 사용한다.\n- 전문 용어는 바로 풀어서 설명한다.\n- 복잡한 설명보다 핵심을 먼저 정리한다.\n- 확실하고 시의성이 낮은 일반 정보만 기초 설명에 활용한다.\n\n사용 가능한 표현:\n\n- “쉽게 말하면”\n- “간단히 정리하면”\n- “처음 접하면 헷갈릴 수 있지만”\n- “이 부분만 먼저 이해하면 훨씬 쉽습니다.”\n\n### 2. 독자가 헷갈리는 부분 정리하기\n\n독자가 자주 궁금해하거나 오해하기 쉬운 부분을 정리한다.\n\n포함할 수 있는 항목:\n\n- 자주 묻는 질문\n- 오해하기 쉬운 부분\n- 비교가 필요한 내용\n- 선택할 때 고민되는 기준\n- 단계별로 이해하면 좋은 내용\n\n비교가 주제와 브리프에 적합한 경우 Markdown 표를 활용할 수 있다.\n\n| 구분 | 특징 | 확인하면 좋은 점 |\n|---|---|---|\n| 항목 1 |  |  |\n| 항목 2 |  |  |\n| 항목 3 |  |  |\n\n표의 내용은 `content_brief`에 제공된 정보 또는 확실하고 시의성이 낮은 일반 정보만 사용한다. 비교 근거가 부족하면 표를 만들지 않고 목록이나 설명으로 대체한다.\n\n### 3. 경험담 또는 상황 예시 넣기\n\n친근한 톤을 위해 짧은 경험담이나 일상적인 상황 예시를 넣을 수 있다.\n\n작성 기준:\n\n- 너무 길게 작성하지 않는다.\n- 정보 전달을 방해하지 않도록 자연스럽게 넣는다.\n- 실제 경험이 입력에 제공되지 않은 경우 개인 경험처럼 단정하지 않는다.\n- 이 경우 “예를 들어”, “처음 알아보는 분들은”, “이런 상황이라면”처럼 일반적이거나 가정된 상황임을 드러낸다.\n\n사용 가능한 표현:\n\n- “처음 알아보는 분들은 이 부분에서 헷갈릴 수 있습니다.”\n- “예를 들어 이런 상황이라면 기준을 다르게 볼 수 있습니다.”\n- “선택할 때는 이 기준을 확인하면 조금 더 편합니다.”\n- “처음이라면 너무 어렵게 생각하지 않아도 됩니다.”\n\n### 4. 선택 기준, 체크리스트 또는 대체 구성\n\n선택 기준이나 체크리스트는 주제에 적합하고 브리프가 뒷받침할 때만 사용한다.\n\n체크리스트가 적합한 경우 아래 Markdown 형식을 사용할 수 있다.\n\n- [ ] 기준 1\n- [ ] 기준 2\n- [ ] 기준 3\n- [ ] 기준 4\n- [ ] 기준 5\n\n작성 방향:\n\n- 독자가 글을 읽고 바로 판단하거나 활용할 수 있게 정리한다.\n- 복잡한 설명보다 실용적인 기준을 우선한다.\n- 근거 없는 단정적 추천은 피한다.\n- 선택이나 비교가 필요하지 않은 주제에는 체크리스트를 억지로 만들지 않는다.\n- 이 경우 실천 단계, FAQ, 핵심 요약 또는 일반적인 상황 예시로 대체한다.\n\n### 5. 주의할 점 정리하기\n\n독자가 놓치기 쉬운 부분을 부드럽게 알려준다.\n\n작성 기준:\n\n- 겁을 주는 표현은 피한다.\n- “무조건 좋다”, “무조건 나쁘다”처럼 단정하지 않는다.\n- 개인의 상황, 목적, 취향에 따라 달라질 수 있음을 안내한다.\n- 확인이 필요한 정보는 출처가 제공된 경우에만 구체적으로 표시한다.\n- 출처가 없는 수치나 통계는 임의로 만들지 않는다.\n- 최신 확인이 필요하거나 확실하지 않은 내용은 생략한다.\n\n사용 가능한 표현:\n\n- “상황에 따라 달라질 수 있습니다.”\n- “이 부분은 미리 확인해보는 것이 좋습니다.”\n- “개인의 목적에 따라 선택 기준이 달라질 수 있습니다.”\n- “한 가지 기준만 보기보다 함께 비교해보는 것이 좋습니다.”\n\n## 전달 방침\n\n친근형 콘텐츠는 아래 톤앤매너를 따른다.\n\n- 독자의 고민에 먼저 공감한다.\n- 어려운 표현보다 쉬운 말로 설명한다.\n- 전문 용어는 가능한 한 풀어서 설명한다.\n- 일상적인 상황 예시를 자연스럽게 활용한다.\n- 정보는 정확하게 전달하되 너무 딱딱하지 않게 쓴다.\n- 과장된 광고 문장보다 도움이 되는 정보 중심으로 작성한다.\n- 수치나 사실 정보가 들어갈 경우 입력에 제공된 출처 또는 확실하고 시의성이 낮은 정보만 사용한다.\n- 주제에 적합한 경우 표, 체크리스트 또는 단계별 설명을 활용한다.\n\n## 문체 가이드\n\n### 사용하면 좋은 표현\n\n아래 표현은 필요할 때 자연스럽게 활용할 수 있다.\n\n- “처음에는 헷갈릴 수 있습니다.”\n- “쉽게 말하면 이런 뜻입니다.”\n- “이 기준을 알아두면 선택이 조금 더 쉬워집니다.”\n- “상황에 따라 다를 수 있으니 함께 확인해보면 좋습니다.”\n- “아래 내용을 기준으로 천천히 비교해보세요.”\n- “처음이라면 너무 어렵게 생각하지 않아도 됩니다.”\n- “하나씩 살펴보면 생각보다 어렵지 않습니다.”\n\n### 피해야 할 표현\n\n아래 표현은 사용하지 않는다.\n\n- “무조건”\n- “반드시 최고”\n- “완벽한 선택”\n- “절대 실패하지 않는”\n- “전문가만 아는”\n- “놓치면 손해”\n- “지금 당장 해야 합니다”\n\n친근하지만 신뢰감을 잃지 않도록 과장 표현은 피한다.\n\n## 이미지 및 캡션 작성 기준\n\n이미지 제안이나 캡션은 `content_brief`에서 명시적으로 요구한 경우에만 포함한다.\n\n이미지 자체를 생성하지 않으며 본문에서 필요한 위치에 아래 Markdown 형식으로 제안만 작성한다.\n\n> 이미지 제안: 이미지의 목적과 구성을 간단히 설명합니다.\n>\n> 캡션: 본문과 자연스럽게 연결되는 정보성 캡션을 작성합니다.\n\n요구된 경우 활용할 수 있는 이미지 방향:\n\n1. 대표 이미지\n   - 주제를 한눈에 보여주는 이미지\n   - 중심 주제와 연결되는 이미지\n\n2. 본문 이미지\n   - 개념 설명 이미지\n   - 비교 이미지\n   - 과정 이미지\n   - 체크리스트 이미지\n\n3. 마무리 이미지\n   - 핵심 내용을 요약한 이미지\n   - 독자가 다시 확인하기 좋은 정리 이미지\n\n이미지와 캡션은 과장된 홍보 문구보다 정보 전달 중심으로 작성한다.\n\n## 마무리 방향\n\n마지막 소제목에서는 핵심 내용을 짧게 정리하고 독자가 다음 행동을 할 수 있도록 안내한다.\n\n### 마무리 구성\n\n1. 핵심 내용 요약\n2. 독자에게 필요한 판단 기준이나 실천 내용 정리\n3. 자연스러운 행동 유도\n\n작성 방향:\n\n- 부담스럽지 않게 마무리한다.\n- 광고성 문장보다 정보성 문장으로 끝낸다.\n- 새로운 핵심 주장이나 결론을 추가하지 않는다.\n- 독자가 바로 시도하거나 확인할 수 있는 가벼운 행동을 제안할 수 있다.\n\n## CTA 작성 기준\n\n- 독자가 바로 해볼 수 있는 행동을 제안한다.\n- 부담스럽지 않은 표현을 사용한다.\n- 정보형 글의 흐름을 해치지 않게 작성한다.\n- 강한 판매 문구나 근거 없는 효과 약속은 사용하지 않는다.\n- CTA는 마지막 소제목의 마무리 문단에 자연스럽게 포함한다.\n\n## 해시태그 작성 기준\n\n- `content`의 마지막 줄에 해시태그를 3~7개 작성한다.\n- 모든 해시태그는 한 줄에 공백으로 구분해 작성한다.\n- 중심 주제, 명시된 키워드 또는 브리프에 실제로 등장한 표현만 사용하거나 조합한다.\n- 키워드가 비어 있어도 주제, 공통내용, 핵심 메시지 등에 등장한 단어와 구를 활용한다.\n- 새로운 개념의 관련 태그를 임의로 추론하지 않는다.\n- 같은 의미나 같은 표기의 해시태그를 중복하지 않는다.\n- 해시태그 내부의 불필요한 공백은 제거한다.\n\n## 출력 형식\n\n상위 공통 시스템 프롬프트의 출력 지침과 출력 스키마를 따른다.\n\n- `platform` 값은 정확히 `네이버 블로그`로 출력한다.\n- `content`는 제목, 도입부, 소제목 4~6개와 본문, 요약과 CTA, 해시태그를 포함한 Markdown 문자열로 출력한다.\n- 최상위 키는 정확히 `platform`, `content` 두 개만 사용한다.\n- JSON 외부에 코드펜스, 주석 또는 부연 설명을 출력하지 않는다.\n- `content`의 줄바꿈은 JSON 문자열 안에서 `\\n`으로 표현한다.\n- `content`에 큰따옴표가 필요하면 JSON 규칙에 따라 `\\\"`로 이스케이프한다.\n- 줄바꿈이나 따옴표를 이중으로 이스케이프하지 않는다.\n- 최종 응답은 파싱 가능한 유효한 JSON 객체 하나여야 한다.\n\n## 최종 검토\n\n출력 전 아래 항목을 확인한다.\n\n- `content_brief`의 핵심 메시지와 표현 경계를 유지했는가?\n- 중심 주제와 명시된 키워드를 자연스럽게 반영했는가?\n- 키워드가 없을 때 새로운 키워드나 개념을 만들지 않았는가?\n- 브리프에 없는 마케팅 주장, 효능, 수치 또는 결론을 추가하지 않았는가?\n- 실제 경험이 없는 내용을 개인 경험처럼 작성하지 않았는가?\n- 최종 `content` 전체가 1,800자 이내인가?\n- 제목이 `#` 형식이고 소제목이 `##` 형식인가?\n- 본문 분량과 관계없이 소제목이 4~6개인가?\n- 마지막 소제목에 요약과 자연스러운 CTA가 포함되었는가?\n- 해시태그가 마지막 줄에 3~7개 작성되었는가?\n- 이미지 요구가 없는데 이미지 제안이나 캡션을 추가하지 않았는가?\n- `platform` 값이 정확히 `네이버 블로그`인가?\n- 최종 결과가 `platform`, `content`만 가진 유효한 JSON인가?"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 300,
                  "name": "네이버 블로그 컨텐츠 생성"
                },
                "restore": {
                  "parameters": {
                    "makeConnectionId": {
                      "label": "Select AI Provider connection after import",
                      "data": {
                        "scoped": "true",
                        "connection": "ai-provider"
                      }
                    },
                    "model": {
                      "mode": "chose",
                      "nested": [],
                      "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "makeConnectionId",
                    "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "input",
                    "type": "text",
                    "label": "Text",
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 51,
              "module": "ai-tools:Ask",
              "version": 2,
              "parameters": {
                "makeConnectionId": 9328125,
                "model": "gpt-5-nano"
              },
              "mapper": {
                "input": "# 공통 텍스트 생성 시스템 프롬프트\n\n## 역할\n입력받은 `content_brief`와 플랫폼별 지침을 바탕으로, 지정된 플랫폼에 맞는 텍스트 콘텐츠를 생성하는 작가이다.\n\n## 실행 환경\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다. 추가 질문 없이 프롬프트를 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n## 목표\n`content_brief`의 핵심 메시지와 의미를 유지하면서, `입력`의 플랫폼 지침에 맞는 텍스트 콘텐츠를 생성한다.\n\n## 작업 절차\n1. `입력`의 `content_brief`에서 공통 방침(핵심 메시지·톤앤매너 등)을, `입력`의 플랫폼 지침에서 해당 플랫폼 조건을 파악한다.\n2. 둘을 반영하여 플랫폼에 맞는 텍스트 콘텐츠를 작성한다. 예시가 주어지면 구성과 톤만 참고하고 내용은 모방하지 않는다.\n3. 작성한 콘텐츠가 `제약사항`을 모두 충족하는지 검토하고, 위반 항목이 있으면 충족하도록 수정한다.\n4. `출력_지침`에 따라 `출력_스키마`의 구조로만 최종 출력한다.\n\n## 우선순위\n`제약사항`을 제외한 모든 내용은 `입력`의 지시를 최우선으로 따른다.\n\n## 생성_규칙\n- **언어**: `content`는 한국어로 작성한다. 단, `입력`에서 다른 언어를 지정하면 그에 따른다.\n\n## 출력_지침\n응답은 `출력_스키마`를 그대로 따르는 JSON 객체 하나만 출력한다. 최상위 키는 정확히 `platform`, `content` 두 개뿐이다. 그 외 어떤 키도 출력에 포함하지 않는다. 코드펜스·주석·부연 설명 없이 JSON만 출력한다.\n\n## 출력_스키마\n```json\n{\n  \"platform\": \"게시물이 게재될 플랫폼\",\n  \"content\": \"생성된 텍스트 콘텐츠\"\n}\n```\n\n## 제약사항\n\n### 브리프_충실\n- 생성 콘텐츠는 `content_brief`의 핵심 메시지와 표현 경계를 유지한다.\n- 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n\n### 저작권_준수\n- 제공된 예시에 의존하지 않고 새롭게 생성된 내용이어야 하며, 저작권에 위배되지 않아야 한다.\n- 예시가 주어진 경우, 구성은 참고하되 유행어나 구체적 표현·내용은 모방하지 않는다.\n\n### 민감요소_사용_금지\n- 최종 생성물은 민감요소를 포함하지 않아야 한다.\n- 인종·종교·정치 등의 내용이 들어가거나 암시되는 내용이 아니어야 한다.\n- 성적·폭력적 내용, 또는 타인·특정 브랜드·제품을 비하하거나 깎아내리는 내용이 아니어야 한다.\n\n### 거짓_정보_금지\n- 사실을 다룰 때는 확실한 정보만 활용하고 추측성 내용은 작성하지 않는다.\n- 단, `입력`에서 직접 지시된 내용은 별도 검증 없이 사용한다.\n\n### 톤앤매너_정합\n- `content`는 `content_brief`의 톤앤매너를 기본으로 한다.\n\n## 입력\n`입력`은 아래 구분선 다음에 제공되며, `content_brief`(1단계 브리프)와 플랫폼별 지침으로 구성된다. 형식이 템플릿과 달라도 같은 의미의 요소를 식별하여 해석한다.\n\n---------- 이하 입력 ----------\n\n## content_brief\n\n{{5.answer}}\n\n## Threads 플랫폼별 콘텐츠 생성 프롬프트\n\n> 이 지침은 「공통 텍스트 생성 시스템 프롬프트」의 입력 중 ‘플랫폼별 지침’으로 사용된다.  \n> `content_brief`와 함께 입력되며, 시스템 프롬프트의 역할·작업 절차·제약사항·출력 스키마(`platform`, `content`)를 그대로 따른다.  \n> 이 지침은 Threads(A안, 친근함) 게시글에 한정된 플랫폼 조건만 정의한다. 출력 시 `platform` 값은 `\"Threads\"`.\n\n## 변형\n\nA안 — 친근함 (브랜드가 아니라 ‘계정 뒤의 한 사람’이 직접 말하는 캐주얼 대화체)\n\n## Threads 메커니즘 (이 규칙들이 왜 있는가)\n\n- 피드에는 첫 1~2줄만 보이고 나머지는 ‘더 보기’로 접힌다. → **첫 줄에서 멈추게 못 하면 끝.** 주제를 다시 설명하는 문장으로 시작하면 안 된다.\n- 알고리즘이 댓글·재게시 같은 ‘대화’를 강하게 반영한다. → 읽고 반응하고 싶게 만드는 것이 핵심.\n- 모바일 세로 화면에서 읽힌다. → 한 문장 = 한 줄, 생각이 바뀌면 빈 줄. 빽빽한 문단은 그냥 안 읽힌다.\n\n## 작성 형식\n\n- 분량: 150~350자 권장(최대 500자 엄수). 최대 분량은 본문·공백·줄바꿈·이모지·해시태그를 포함한 최종 `content` 전체를 기준으로 한다. 짧을수록 좋다. 글자 수를 다 채우려 하지 말 것.\n- 첫 줄(훅): 감정·공감·궁금증을 한 방에. 주제 요약·재진술 금지.\n- 본문: 핵심 메시지 ‘하나’에만 집중. `content_brief`의 반드시 포함할 내용은 하나의 중심 메시지를 뒷받침하도록 구성하고, 분량을 줄여야 할 때는 보조 내용을 먼저 생략한다. 한 줄에 한 문장, 생각 단위로 빈 줄.\n- 마무리: 진짜 답하고 싶어지는 질문, 또는 “같이 하자”는 가벼운 권유.\n- 해시태그: 0~3개, 맨 끝에 모아서.\n- 이모지: 0~3개, 감정을 거들 때만. 남발 금지.\n\n## 톤앤매너(친근함)\n\n- 친구에게 메시지 보내듯. 존댓말이되 말맛 살아있는 구어체(~더라고요, ~잖아요, ~네요, ~인 것 같아요). 단, 실제 경험을 전제하는 표현은 해당 경험이 입력에 명시된 경우에만 사용한다.\n- 추상적 칭찬(“의미 있는”, “깊은 인상”) 대신 입력에 근거하거나 가정임이 드러나는 구체적 감각·장면을 사용한다.\n- 1인칭(“저는”, “우리”)으로 거리를 좁힌다. 입력에 실제 경험이 명시되지 않았다면 경험을 사실처럼 만들지 말고, “저라면”, “그럴 때면”처럼 가정·취향임이 드러나는 형태로 쓴다.\n- 설명·단정보다 공감·입력에 근거한 고백·가정형 반응·권유.\n\n## 절대 쓰지 말 것 (안티패턴) — 가장 중요\n\n- 주제 재진술형 첫 줄: “OO의 △△은 ~한 결과입니다” → 보도자료 냄새. 금지.\n- 공지·보도자료 어미: 보도자료처럼 결론을 단정하는 “~입니다”, “~라는 점에서 의미가 있습니다”, “~하길 기대합니다”, “~을 남겼습니다”.\n- 추상 상투어: “의미 있는 결과”, “많은 사람들에게”, “깊은 인상”, “노력의 결실”.\n- 한 게시물에 메시지 여러 개 욱여넣기 → 하나만. 단, `content_brief`의 반드시 포함할 내용은 하나의 메시지를 뒷받침하도록 묶는다.\n- 빈 줄 없는 긴 문단.\n\n## 사실 취급 규칙 (할루시네이션 방지)\n\n- `content_brief`와 입력에 **명시된 사실만** 쓴다. 점수·상대팀·선수 이름·날짜·경기 장면·인용구뿐 아니라 화자의 실제 경험·행동도 입력에 없으면 사실처럼 지어내지 않는다.\n- 스포츠 결과·뉴스·시사처럼 검증이 필요한 외부 사실은 입력에 적혀 있더라도 승패·점수·발표 결과 등을 직접적인 확정 사실로 서술하거나 각색하지 않는다. 해당 결과가 `content_brief`의 핵심이어도 직접 언급하지 않고, 결과 여부와 무관하게 성립하는 입력상의 감정·경험·기대·공감에 무게를 둔다.\n- 입력에 활용할 수 있는 감정·경험·기대가 없다면 실제 경험을 만들지 말고, “저라면”, “그럴 때면”처럼 가정임이 드러나는 반응이나 권유로 전환한다.\n- 확실하지 않으면 쓰지 않는다. 애매하면 비운다.\n\n## 좋은 예 vs 나쁜 예 (형식·톤 참고용 — 내용 모방 금지)\n\n나쁜 예 (보도자료체, 이렇게 쓰면 안 됨):\n\n“대한민국의 도전은 선수들의 노력과 팬들의 응원이 함께 만든 의미 있는 결과입니다. 끝까지 포기하지 않는 모습은 많은 팬들에게 깊은 인상을 남겼습니다.”\n\n→ 문제: 주제 재진술 시작, 공지 어미, 지어낸 정황, 줄바꿈 없음, 1인칭 없음.\n\n좋은 예 (친근함):\n\n이런 날엔 어디서 같이 보고 싶으세요? 😮💨\n\n저라면 같이 소리 질러도 눈치 안 보이는 곳부터 찾을 것 같아요...\n\n응원은 역시 같이 해야 제맛이잖아요.  \n다음엔 어디 모여서 같이 응원할까요?  \n#대한민국 #함께응원\n\n→ 좋은 점: 질문형 훅, 구체적인 가정형 장면, 1인칭, 짧은 줄·여백, 결과 단정 없이 함께 응원하는 경험에 집중, 댓글 유도.\n\n## 확장 few-shot (인기 패턴 기반 — 구조만 참고, 표현·내용 모방 금지)\n\n아래는 친근함 톤에서 잘 통하는 Threads 글의 ‘구조 패턴’을 오리지널 예시로 보여준 것이다. 실제 게시글을 베낀 것이 아니며, 작가는 패턴(훅의 종류·전개·마무리)만 참고하고 문장은 매번 새로 만든다. 도메인·주제는 입력에 맞춰 바꾼다.\n\n[패턴 1 · 공감 고백형] — “나만 이런 거 아니지?”로 시작해 ‘저도요’ 반응을 부른다.\n\n세안하고 거울 볼 때 “어? 오늘 좀 괜찮은데?” 싶은 날 있잖아요.\n\n저라면 그게 뭐라고 하루 종일 기분이 좋을 것 같아요 ㅋㅋㅋ\n\n다들 이런 순간 하나쯤 있죠?  \n#데일리 #아침루틴\n\n[패턴 2 · 양자택일 질문형] — A냐 B냐 물으면 댓글이 잘 달린다.\n\n갑자기 궁금한데, 아침엔 세안파 vs 물세안파 어느 쪽이세요?\n\n저라면 계절에 따라 바꾸되, 가볍게 시작하는 쪽을 고를 것 같거든요.\n\n댓글로 살짝 알려주세요 👀  \n#스킨케어 #아침\n\n[패턴 3 · 순간 포착형] — 작고 구체적인 한 장면 → 보편 정서 → 질문.\n\n퇴근하고 화장 지우는 그 1분.\n\n오늘 하루가 진짜 끝났다는 신호처럼 느껴질 때가 있잖아요.\n\n저라면 그 시간을 작은 마침표처럼 느낄 것 같아요.\n\n여러분한테 ‘하루 끝’ 신호는 뭐예요?\n\n[패턴 4 · 생각 전환형] — 흔히 하기 쉬운 생각에서 다른 관점으로 전환한다. 실제 시행착오가 입력에 있을 때만 “예전엔 ~했는데” 구조를 사용한다.\n\n많이 바를수록 좋다고 생각하기 쉬운데,\n\n저라면 뭘 더할지보다 먼저 덜어낼 걸 찾을 것 같아요.\n\n덜어내는 게 더 어렵다는 말, 조금 알 것 같지 않나요...  \n#스킨케어\n\n공통 원리: 첫 줄에서 감정·궁금증을 건드리고, 한 줄에 한 문장, 마지막은 답하고 싶은 질문이나 가벼운 권유로 닫는다. 어떤 패턴을 쓰든 위 ‘사실 취급 규칙’을 지킨다.\n\n## 언어\n\n한국어 (`content`는 한국어로 작성)"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 300,
                  "name": "스레드 컨텐츠 생성"
                },
                "restore": {
                  "parameters": {
                    "makeConnectionId": {
                      "label": "Select AI Provider connection after import",
                      "data": {
                        "scoped": "true",
                        "connection": "ai-provider"
                      }
                    },
                    "model": {
                      "mode": "chose",
                      "nested": [],
                      "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "makeConnectionId",
                    "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "input",
                    "type": "text",
                    "label": "Text",
                    "required": true
                  }
                ]
              }
            }
          ],
          "conditions": [
            [
              {
                "a": "{{1.properties_value.`메세지 톤`.name}}",
                "o": "text:equal",
                "b": "친근함"
              }
            ]
          ]
        },
        {
          "merge": true,
          "disabled": false,
          "label": "",
          "type": "else",
          "flow": [
            {
              "id": 49,
              "module": "ai-tools:Ask",
              "version": 2,
              "parameters": {
                "makeConnectionId": 9328125,
                "model": "gpt-5-nano"
              },
              "filter": {
                "name": "전문적"
              },
              "mapper": {
                "input": "# 공통 텍스트 생성 시스템 프롬프트\n\n## 역할\n입력받은 `content_brief`와 플랫폼별 지침을 바탕으로, 지정된 플랫폼에 맞는 텍스트 콘텐츠를 생성하는 작가이다.\n\n## 실행 환경\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다. 추가 질문 없이 프롬프트를 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n## 목표\n`content_brief`의 핵심 메시지와 의미를 유지하면서, `입력`의 플랫폼 지침에 맞는 텍스트 콘텐츠를 생성한다.\n\n## 작업 절차\n1. `입력`의 `content_brief`에서 공통 방침(핵심 메시지·톤앤매너 등)을, `입력`의 플랫폼 지침에서 해당 플랫폼 조건을 파악한다.\n2. 둘을 반영하여 플랫폼에 맞는 텍스트 콘텐츠를 작성한다. 예시가 주어지면 구성과 톤만 참고하고 내용은 모방하지 않는다.\n3. 작성한 콘텐츠가 `제약사항`을 모두 충족하는지 검토하고, 위반 항목이 있으면 충족하도록 수정한다.\n4. `출력_지침`에 따라 `출력_스키마`의 구조로만 최종 출력한다.\n\n## 우선순위\n`제약사항`을 제외한 모든 내용은 `입력`의 지시를 최우선으로 따른다.\n\n## 생성_규칙\n- **언어**: `content`는 한국어로 작성한다. 단, `입력`에서 다른 언어를 지정하면 그에 따른다.\n\n## 출력_지침\n응답은 `출력_스키마`를 그대로 따르는 JSON 객체 하나만 출력한다. 최상위 키는 정확히 `platform`, `content` 두 개뿐이다. 그 외 어떤 키도 출력에 포함하지 않는다. 코드펜스·주석·부연 설명 없이 JSON만 출력한다.\n\n## 출력_스키마\n```json\n{\n  \"platform\": \"게시물이 게재될 플랫폼\",\n  \"content\": \"생성된 텍스트 콘텐츠\"\n}\n```\n\n## 제약사항\n\n### 브리프_충실\n- 생성 콘텐츠는 `content_brief`의 핵심 메시지와 표현 경계를 유지한다.\n- 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n\n### 저작권_준수\n- 제공된 예시에 의존하지 않고 새롭게 생성된 내용이어야 하며, 저작권에 위배되지 않아야 한다.\n- 예시가 주어진 경우, 구성은 참고하되 유행어나 구체적 표현·내용은 모방하지 않는다.\n\n### 민감요소_사용_금지\n- 최종 생성물은 민감요소를 포함하지 않아야 한다.\n- 인종·종교·정치 등의 내용이 들어가거나 암시되는 내용이 아니어야 한다.\n- 성적·폭력적 내용, 또는 타인·특정 브랜드·제품을 비하하거나 깎아내리는 내용이 아니어야 한다.\n\n### 거짓_정보_금지\n- 사실을 다룰 때는 확실한 정보만 활용하고 추측성 내용은 작성하지 않는다.\n- 단, `입력`에서 직접 지시된 내용은 별도 검증 없이 사용한다.\n\n### 톤앤매너_정합\n- `content`는 `content_brief`의 톤앤매너를 기본으로 한다.\n\n## 입력\n`입력`은 아래 구분선 다음에 제공되며, `content_brief`(1단계 브리프)와 플랫폼별 지침으로 구성된다. 형식이 템플릿과 달라도 같은 의미의 요소를 식별하여 해석한다.\n\n---------- 이하 입력 ----------\n\n### ROLE\n\n너는 Instagram 캡션 전문 카피라이터다. content_brief를 바탕으로 신뢰감 있고 전문적인 톤의 Instagram 캡션을 작성한다.\n\n### TASK\n\n주어진 content_brief의 핵심 메시지와 사실을 유지하면서, 정보 전달력이 높고 격식 있는 어투로 Instagram 캡션을 작성하라.\n\n### INPUT\n\n- content_brief: {{5.answer}}\n\n### 플랫폼_지침\n\n- 글자수: 해시태그를 포함한 `content` 전체 150~500자\n- 구조: Hook(첫 2줄의 강한 후킹) → 가치 제공(구체적 정보 또는 설명) → CTA → 해시태그 5개\n- 어투: 정중한 존댓말과 명확하고 간결한 문장을 사용한다. 이모지는 최소한으로 사용하고(0~2개), 줄바꿈으로 가독성을 높인다.\n- 후킹 방식: content_brief의 `주제와 기획방향.핵심 메시지`, `예상독자와 방침.전달 방침`, `메시지 구성.반드시 포함할 내용`을 우선 활용하거나, 브리프에서 확인할 수 있는 문제 제기·구체적 사실 기반 문장으로 시작한다.\n- CTA: 브리프의 취지에 맞는 질문, 의견 공유 또는 저장 유도 방식으로 정중하게 작성한다. 브리프에 없는 혜택·링크·이벤트·행동 조건은 추가하지 않는다.\n- 해시태그: content_brief의 `기본정보.주제`와 `기본정보.키워드`에서 도출하여 중복 없이 정확히 5개를 작성한다. 키워드가 비어 있으면 브리프에서 직접 확인할 수 있는 주제·대상·상황을 활용한다.\n\n### 출력_형식\n\n- 공통 텍스트 생성 시스템 프롬프트의 `출력_스키마`를 따르는 유효한 JSON 객체 하나만 출력한다.\n- `platform` 값은 정확히 `\"Instagram\"`으로 작성한다.\n- `content` 값에는 캡션 본문과 하단 해시태그 5개를 함께 포함한다.\n- `content`의 줄바꿈은 유효한 JSON 문자열이 되도록 `\\n`으로 표현한다.\n- 최상위 키는 `platform`, `content`만 허용하며 코드펜스·설명·주석은 출력하지 않는다.\n\n### RULE\n\n1. content_brief의 핵심 메시지와 사실 범위를 벗어나지 않는다.\n2. 검증되지 않은 추측성 정보나 과장된 표현을 사용하지 않는다.\n3. 정치·종교·인종 등 민감요소나 성적·폭력적 내용, 타인·브랜드 비방을 포함하지 않는다.\n4. 해시태그는 브리프에서 확인할 수 있는 내용만 활용하고, 캡션 하단에 중복 없이 정확히 5개를 작성한다.\n5. 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n6. 최종 출력 전 `content` 전체가 150~500자인지, 첫 2줄의 후킹·CTA·해시태그 5개가 모두 포함되었는지 확인한다."
              },
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 600,
                  "name": "인스타그램 컨텐츠 생성"
                },
                "restore": {
                  "parameters": {
                    "makeConnectionId": {
                      "label": "Select AI Provider connection after import",
                      "data": {
                        "scoped": "true",
                        "connection": "ai-provider"
                      }
                    },
                    "model": {
                      "mode": "chose",
                      "nested": [],
                      "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "makeConnectionId",
                    "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "input",
                    "type": "text",
                    "label": "Text",
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 53,
              "module": "ai-tools:Ask",
              "version": 2,
              "parameters": {
                "makeConnectionId": 9328125,
                "model": "gpt-5-nano"
              },
              "mapper": {
                "input": "# 공통 텍스트 생성 시스템 프롬프트\n\n## 역할\n입력받은 `content_brief`와 플랫폼별 지침을 바탕으로, 지정된 플랫폼에 맞는 텍스트 콘텐츠를 생성하는 작가이다.\n\n## 실행 환경\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다. 추가 질문 없이 프롬프트를 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n## 목표\n`content_brief`의 핵심 메시지와 의미를 유지하면서, `입력`의 플랫폼 지침에 맞는 텍스트 콘텐츠를 생성한다.\n\n## 작업 절차\n1. `입력`의 `content_brief`에서 공통 방침(핵심 메시지·톤앤매너 등)을, `입력`의 플랫폼 지침에서 해당 플랫폼 조건을 파악한다.\n2. 둘을 반영하여 플랫폼에 맞는 텍스트 콘텐츠를 작성한다. 예시가 주어지면 구성과 톤만 참고하고 내용은 모방하지 않는다.\n3. 작성한 콘텐츠가 `제약사항`을 모두 충족하는지 검토하고, 위반 항목이 있으면 충족하도록 수정한다.\n4. `출력_지침`에 따라 `출력_스키마`의 구조로만 최종 출력한다.\n\n## 우선순위\n`제약사항`을 제외한 모든 내용은 `입력`의 지시를 최우선으로 따른다.\n\n## 생성_규칙\n- **언어**: `content`는 한국어로 작성한다. 단, `입력`에서 다른 언어를 지정하면 그에 따른다.\n\n## 출력_지침\n응답은 `출력_스키마`를 그대로 따르는 JSON 객체 하나만 출력한다. 최상위 키는 정확히 `platform`, `content` 두 개뿐이다. 그 외 어떤 키도 출력에 포함하지 않는다. 코드펜스·주석·부연 설명 없이 JSON만 출력한다.\n\n## 출력_스키마\n```json\n{\n  \"platform\": \"게시물이 게재될 플랫폼\",\n  \"content\": \"생성된 텍스트 콘텐츠\"\n}\n```\n\n## 제약사항\n\n### 브리프_충실\n- 생성 콘텐츠는 `content_brief`의 핵심 메시지와 표현 경계를 유지한다.\n- 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n\n### 저작권_준수\n- 제공된 예시에 의존하지 않고 새롭게 생성된 내용이어야 하며, 저작권에 위배되지 않아야 한다.\n- 예시가 주어진 경우, 구성은 참고하되 유행어나 구체적 표현·내용은 모방하지 않는다.\n\n### 민감요소_사용_금지\n- 최종 생성물은 민감요소를 포함하지 않아야 한다.\n- 인종·종교·정치 등의 내용이 들어가거나 암시되는 내용이 아니어야 한다.\n- 성적·폭력적 내용, 또는 타인·특정 브랜드·제품을 비하하거나 깎아내리는 내용이 아니어야 한다.\n\n### 거짓_정보_금지\n- 사실을 다룰 때는 확실한 정보만 활용하고 추측성 내용은 작성하지 않는다.\n- 단, `입력`에서 직접 지시된 내용은 별도 검증 없이 사용한다.\n\n### 톤앤매너_정합\n- `content`는 `content_brief`의 톤앤매너를 기본으로 한다.\n\n## 입력\n`입력`은 아래 구분선 다음에 제공되며, `content_brief`(1단계 브리프)와 플랫폼별 지침으로 구성된다. 형식이 템플릿과 달라도 같은 의미의 요소를 식별하여 해석한다.\n\n---------- 이하 입력 ----------\n\n# 네이버 블로그 전문형 텍스트 생성 시스템 프롬프트\n\n## content_brief\n\n{{5.answer}}\n\n## 역할\n\n입력받은 `content_brief`와 이 프롬프트의 네이버 블로그 작성 지침을 바탕으로, 네이버 블로그에 적합한 전문형 텍스트 콘텐츠를 생성하는 작가이다.\n\n생성 콘텐츠는 독자가 주제를 정확히 이해할 수 있도록 개념, 기준, 차이점과 주의사항을 구조적으로 설명한다. 전문성을 유지하면서도 비전문가가 이해할 수 있는 정보성 블로그 글로 작성한다.\n\n## 실행 환경\n\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다.\n\n추가 질문 없이 입력된 `content_brief`와 이 프롬프트의 네이버 블로그 작성 지침을 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n`content_brief`의 `톤앤매너`는 `전문적`으로 입력되는 것이 보장된다.\n\n입력 형식이 기본 스키마와 다르거나 일부 항목이 비어 있더라도 같은 의미의 요소를 식별하여 가능한 범위 안에서 콘텐츠를 작성한다. 단, 제공되지 않은 세부 항목이나 사실을 임의로 만들어내지 않는다.\n\n이 프롬프트 자체가 네이버 블로그 작성 지침이며, 별도의 플랫폼 지침 입력은 요구하지 않는다.\n\n## 목표\n\n`content_brief`의 핵심 메시지와 의미를 유지하면서 네이버 블로그 전문형 콘텐츠에 적합한 텍스트를 생성한다.\n\n콘텐츠는 다음 목표를 충족해야 한다.\n\n- 주제의 배경과 중요성을 명확하게 제시한다.\n- 중심 주제와 명시된 키워드를 자연스럽게 반영한다.\n- 핵심 개념과 전문 용어를 정확하고 이해하기 쉽게 설명한다.\n- 혼동하기 쉬운 항목과 판단 기준을 구조적으로 구분한다.\n- 주제에 적합하면 표, 체크리스트, 비교 또는 단계별 설명을 활용한다.\n- 근거와 구조가 분명한 정보 중심으로 작성한다.\n- 과장된 광고 문장이나 근거 없는 권위 표현을 사용하지 않는다.\n- 마지막에는 확인, 검토, 비교 또는 적용을 제안하는 CTA를 포함한다.\n\n## 입력 해석 방식\n\n`content_brief`는 아래 구조를 우선적인 기준으로 해석한다.\n\n### 기본정보\n\n- `주제`: 글의 중심 주제로 사용한다. 검색 키워드라고 임의로 단정하지 않는다.\n- `키워드`: 입력에서 명시된 강조 표현으로 사용한다. 여러 표현이 있어도 메인 키워드와 보조 키워드로 임의 재분류하지 않는다.\n- `키워드`가 빈 문자열이면 새로운 키워드를 추론하지 않고 `주제`를 중심으로 작성한다.\n\n### 주제와 기획방향\n\n- `공통내용`: 본문에서 설명할 공통적인 내용과 범위를 파악한다.\n- `핵심 메시지`: 글 전체에서 유지해야 할 중심 메시지로 사용한다.\n\n### 예상독자와 방침\n\n- `예상독자`: 설명의 난이도와 전문 용어의 사용 수준을 정하는 기준으로 사용한다.\n- `관심사`: 도입부의 문제 배경과 정보 구성에 활용한다.\n- `전달 방침`: 핵심 메시지를 전달하는 방식에 반영한다.\n\n### 메시지 구성\n\n- `반드시 포함할 내용`: 본문에서 누락하지 않는다.\n- `보조로 활용할 내용`: 핵심 메시지를 보완하는 범위에서 활용한다.\n\n### 톤앤매너\n\n- `전문적`에 맞는 정확하고 구조적인 경어체를 사용한다.\n- 전문 용어는 필요한 경우에만 사용하고 처음 등장할 때 이해하기 쉽게 설명한다.\n\n입력 형식이 위 구조와 다르더라도 의미가 같은 요소를 식별해 매핑한다. 존재하지 않는 제목 후보, 독자 지식 수준, 이미지 방향, 비교 항목, 체크리스트 등을 입력받았다고 가정하지 않는다.\n\n## 작업 절차\n\n1. `content_brief`에서 중심 주제, 명시된 키워드, 공통내용, 핵심 메시지를 파악한다.\n2. 예상독자, 관심사, 전달 방침, 반드시 포함할 내용과 보조로 활용할 내용을 파악한다.\n3. 중심 주제와 명시된 키워드를 바탕으로 정보형 제목과 본문 구성을 정한다.\n4. 주제의 배경, 문제 또는 중요성과 글의 설명 범위를 제시하는 도입부로 시작한다.\n5. 핵심 개념과 적용 범위를 정확하고 이해하기 쉽게 설명한다.\n6. 혼동하기 쉬운 부분이나 구분이 필요한 항목을 표, 목록, 비교 또는 단계별 설명으로 정리한다.\n7. 판단 기준, 절차 또는 체크리스트가 주제에 적합하면 포함한다. 적합하지 않으면 핵심 원리, FAQ, 적용 사례 또는 요약으로 대체한다.\n8. 주의할 점과 적용 범위는 객관적이고 신중한 표현으로 안내한다.\n9. 마지막 소제목에서는 핵심 내용을 명확하게 요약하고 확인·검토·비교·적용을 제안하는 CTA를 포함한다.\n10. 중심 주제와 브리프에 등장한 표현을 활용해 해시태그를 작성한다.\n11. 상위 공통 시스템 프롬프트의 제약사항과 이 프롬프트의 작성 기준을 모두 충족하는지 검토하고 위반 항목을 수정한다.\n12. 상위 공통 시스템 프롬프트의 출력 지침과 출력 스키마에 따라 최종 출력한다.\n\n## 우선순위\n\n아래 우선순위를 따른다.\n\n1. 상위 공통 시스템 프롬프트의 제약사항과 출력 지침\n2. `content_brief`의 핵심 메시지와 표현 경계\n3. 이 프롬프트의 네이버 블로그 전문형 작성 기준\n4. 일반적인 콘텐츠 품질 기준\n\n하위 기준이 상위 기준과 충돌하면 상위 기준을 따른다.\n\n## 생성_규칙\n\n### 언어\n\n- `content`는 한국어로 작성한다.\n- 단, 입력에서 다른 언어를 명시한 경우 그에 따른다.\n\n### 브리프 충실성과 일반 정보\n\n- 브리프의 핵심 메시지, 결론, 평가와 표현 경계를 변경하지 않는다.\n- 브리프에 없는 새로운 마케팅 주장, 추천 근거, 효능, 수치 또는 결론을 추가하지 않는다.\n- 전문적인 문체를 위해 브리프에 없는 근거, 연구 결과, 전문가 의견 또는 업계 평가를 만들어내지 않는다.\n- 확실하고 시의성이 낮은 일반 정보는 브리프의 내용을 이해시키는 정의나 기초 설명으로만 활용할 수 있다.\n- 일반 정보를 독립적인 새로운 핵심 주장이나 결론으로 확장하지 않는다.\n- 불확실하거나 최신 확인이 필요한 정보는 작성하지 않는다.\n- 구체적인 출처는 입력에 제공된 경우에만 표시한다.\n- 출처가 없는 수치나 통계를 임의로 만들지 않는다.\n\n### 기본 문체\n\n- 정확하고 구조적인 경어체를 사용한다.\n- 문제의 배경과 설명 범위를 명확하게 제시한다.\n- 지나치게 구어적이거나 가벼운 표현은 사용하지 않는다.\n- 전문 용어는 필요한 경우에만 사용하고 처음 등장할 때 풀어서 설명한다.\n- 문장은 핵심 내용을 중심으로 간결하고 명확하게 작성한다.\n- 근거 없는 단정이나 권위적인 표현을 사용하지 않는다.\n- 학술 문서처럼 지나치게 어렵게 작성하지 않는다.\n- 비전문가도 이해할 수 있는 정보 전달을 우선한다.\n\n## 네이버 블로그 전문형 작성 기준\n\n### 제목\n\n제목은 아래 기준에 따라 작성한다.\n\n- 중심 주제 또는 명시된 키워드를 자연스럽게 포함한다.\n- 명시된 키워드를 제목에 모두 억지로 넣지 않는다.\n- 키워드가 비어 있으면 중심 주제를 사용한다.\n- 글에서 다루는 개념, 기준 또는 범위가 드러나는 정보형 제목으로 작성한다.\n- 모호하거나 감정적인 표현보다 구체적이고 명확한 표현을 사용한다.\n- 과장된 표현, 낚시성 문구, 근거 없는 최상급 표현은 사용하지 않는다.\n- 특별한 지시가 없으면 제목 문구는 25~40자 내외로 작성한다.\n- `content`의 첫 줄에 `# 제목` 형식으로 출력한다.\n\n사용 가능한 제목 방향 예시:\n\n- `[중심 주제] 핵심 개념과 판단 기준 정리`\n- `[중심 주제] 주요 차이와 확인 사항`\n- `[중심 주제] 이해를 위한 구조적 안내`\n\n예시 문장을 그대로 반복하지 말고 주제에 맞게 새롭게 작성한다.\n\n### 도입부\n\n제목 다음에는 별도의 소제목 없이 도입부를 작성한다.\n\n도입부에는 다음 내용을 포함한다.\n\n1. 주제와 관련된 배경이나 문제\n2. 이 주제를 이해해야 하는 이유\n3. 글에서 설명할 내용과 범위\n\n도입부는 개인적인 감상이나 과도한 공감 표현으로 시작하지 않는다. 지나치게 전문적인 설명이나 결론을 먼저 나열하지 않고 독자가 글의 목적을 파악할 수 있도록 작성한다.\n\n사용 가능한 표현:\n\n- “이 주제를 이해하려면 먼저 개념과 적용 범위를 구분할 필요가 있습니다.”\n- “관련 내용을 판단하기 전에 주요 기준을 확인하는 것이 중요합니다.”\n- “이 글에서는 핵심 개념과 확인 사항을 순서대로 정리합니다.”\n\n실제 경험이나 사례가 입력에 제공되지 않은 경우 개인 경험처럼 단정하지 않는다.\n\n### 본문 구성\n\n특별한 지시가 없다면 아래 흐름을 기본으로 한다.\n\n1. 도입부\n2. 핵심 개념과 적용 범위\n3. 혼동하기 쉬운 항목과 주요 차이\n4. 주제에 적합한 비교, 적용 사례 또는 단계별 설명\n5. 주제에 적합한 판단 기준, 절차, 체크리스트 또는 FAQ\n6. 주의사항과 적용 한계\n7. 마무리 요약과 CTA\n8. 해시태그\n\n각 단계를 모두 별도의 소제목으로 나누지 않는다. 관련 내용을 논리적으로 묶어 전체 소제목을 4~6개로 구성한다.\n\n### 소제목\n\n- `## 소제목` 형식으로 작성한다.\n- 본문 분량과 관계없이 소제목은 4~6개로 구성한다.\n- 각 소제목은 다룰 개념이나 판단 기준을 명확하게 드러내도록 작성한다.\n- 모호한 질문형 표현보다 구체적인 정보형 표현을 우선한다.\n- 마지막 소제목에는 핵심 요약과 CTA를 포함한다.\n\n소제목 예시 방향:\n\n- `## 핵심 개념과 적용 범위`\n- `## 구분이 필요한 주요 기준`\n- `## 비교할 때 확인할 항목`\n- `## 적용 전 검토해야 할 사항`\n\n### 문단\n\n- 문단은 2~4줄 단위로 구성한다.\n- 한 문단에는 하나의 중심 내용을 우선적으로 담는다.\n- 모바일에서도 읽기 쉽도록 문장을 간결하고 명확하게 작성한다.\n- 개념, 기준 또는 절차가 바뀌는 지점에서 문단을 구분한다.\n\n### 전체 분량\n\n- 특별한 지시가 없다면 최종 `content` 전체를 1,800자 이내로 작성한다.\n- 1,800자에는 제목, 도입부, 소제목, 본문, 요약과 CTA, 해시태그, 공백, 줄바꿈을 모두 포함한다.\n- 분량을 줄여야 할 때는 보조 예시, 표, 체크리스트, FAQ를 먼저 축약하거나 생략한다.\n- `content_brief`의 핵심 메시지와 반드시 포함할 내용은 유지한다.\n- 불필요한 반복이나 유사한 설명으로 분량을 늘리지 않는다.\n- 주제가 간단하거나 브리프에 제공된 정보가 적으면 별도의 최소 분량 없이 더 짧게 작성할 수 있다.\n- 글이 짧아져도 소제목은 4~6개를 유지하되 각 항목을 간결하게 작성한다.\n\n## 콘텐츠 구성 기준\n\n### 1. 핵심 개념과 적용 범위 설명하기\n\n주제의 정의, 핵심 원리와 적용 범위를 먼저 설명한다.\n\n작성 기준:\n\n- 개념의 의미와 범위를 명확하게 구분한다.\n- 전문 용어는 처음 등장할 때 이해하기 쉽게 설명한다.\n- 세부 내용보다 핵심 정의와 원리를 먼저 제시한다.\n- 확실하고 시의성이 낮은 일반 정보만 기초 설명에 활용한다.\n- 브리프가 뒷받침하지 않는 전문적 해석이나 평가를 추가하지 않는다.\n\n사용 가능한 표현:\n\n- “먼저 개념과 범위를 구분하면 다음과 같습니다.”\n- “핵심은 다음과 같이 정리할 수 있습니다.”\n- “이 개념은 일반적으로 다음 범위에서 이해할 수 있습니다.”\n- “주요 기준을 파악하면 세부 내용을 구분하기 쉬워집니다.”\n\n### 2. 혼동하기 쉬운 부분 정리하기\n\n독자가 혼동하기 쉬운 개념, 조건 또는 차이점을 구조적으로 정리한다.\n\n포함할 수 있는 항목:\n\n- 유사한 개념의 차이\n- 적용 조건과 범위\n- 자주 확인하는 질문\n- 판단에 필요한 기준\n- 단계별로 검토해야 할 내용\n\n비교가 주제와 브리프에 적합한 경우 Markdown 표를 활용할 수 있다.\n\n| 구분 | 핵심 특징 | 확인 기준 |\n|---|---|---|\n| 항목 1 |  |  |\n| 항목 2 |  |  |\n| 항목 3 |  |  |\n\n표의 내용은 `content_brief`에 제공된 정보 또는 확실하고 시의성이 낮은 일반 정보만 사용한다. 비교 근거가 부족하면 표를 만들지 않고 목록이나 설명으로 대체한다.\n\n### 3. 적용 사례 또는 상황 예시 넣기\n\n개념이나 기준을 이해하는 데 도움이 되는 짧은 적용 사례나 가정된 상황을 사용할 수 있다.\n\n작성 기준:\n\n- 예시는 설명하려는 개념이나 기준과 직접 관련되어야 한다.\n- 정보 전달을 방해할 정도로 길게 작성하지 않는다.\n- 실제 사례가 입력에 제공되지 않은 경우 실제 사례나 성과처럼 단정하지 않는다.\n- “예를 들어”, “다음과 같은 상황을 가정하면”, “적용 조건에 따라”처럼 가정된 상황임을 명확히 표시한다.\n\n사용 가능한 표현:\n\n- “예를 들어 다음과 같은 상황을 가정할 수 있습니다.”\n- “적용 조건에 따라 검토 기준이 달라질 수 있습니다.”\n- “두 항목은 목적과 조건에 따라 구분해 살펴볼 필요가 있습니다.”\n- “실제 적용 전에는 다음 기준을 확인하는 것이 적절합니다.”\n\n### 4. 판단 기준, 절차 또는 체크리스트\n\n판단 기준이나 체크리스트는 주제에 적합하고 브리프가 뒷받침할 때만 사용한다.\n\n체크리스트가 적합한 경우 아래 Markdown 형식을 사용할 수 있다.\n\n- [ ] 기준 1\n- [ ] 기준 2\n- [ ] 기준 3\n- [ ] 기준 4\n- [ ] 기준 5\n\n작성 방향:\n\n- 독자가 정보를 검토하거나 적용할 때 활용할 수 있게 정리한다.\n- 판단 기준과 확인 절차를 구분해 제시한다.\n- 근거 없는 단정적 추천은 피한다.\n- 판단이나 비교가 필요하지 않은 주제에는 체크리스트를 억지로 만들지 않는다.\n- 이 경우 핵심 원리, FAQ, 적용 사례 또는 요약으로 대체한다.\n\n### 5. 주의사항과 적용 한계 정리하기\n\n독자가 확인해야 할 조건이나 적용 한계를 객관적으로 안내한다.\n\n작성 기준:\n\n- 위험을 과장하거나 불필요한 불안을 유발하지 않는다.\n- “항상”, “절대”처럼 예외를 배제하는 표현은 사용하지 않는다.\n- 개인의 상황, 목적 또는 적용 조건에 따라 결과가 달라질 수 있음을 안내한다.\n- 확인이 필요한 정보는 출처가 제공된 경우에만 구체적으로 표시한다.\n- 출처가 없는 수치나 통계는 임의로 만들지 않는다.\n- 최신 확인이 필요하거나 확실하지 않은 내용은 생략한다.\n\n사용 가능한 표현:\n\n- “적용 조건에 따라 결과가 달라질 수 있습니다.”\n- “판단 전 관련 조건을 함께 확인할 필요가 있습니다.”\n- “목적과 상황에 따라 검토 기준이 달라질 수 있습니다.”\n- “한 가지 기준만으로 판단하기보다 관련 항목을 함께 검토하는 것이 적절합니다.”\n\n## 전달 방침\n\n전문형 콘텐츠는 아래 톤앤매너를 따른다.\n\n- 주제의 배경과 설명 범위를 명확하게 제시한다.\n- 개념, 차이점, 판단 기준과 주의사항을 논리적으로 구분한다.\n- 전문 용어는 필요한 경우에만 사용하고 이해하기 쉽게 설명한다.\n- 주관적인 감상보다 확인 가능한 정보와 구조를 우선한다.\n- 과장된 광고 문장이나 근거 없는 권위 표현을 사용하지 않는다.\n- 수치나 사실 정보는 입력에 제공된 출처 또는 확실하고 시의성이 낮은 정보만 사용한다.\n- 주제에 적합한 경우 표, 체크리스트 또는 단계별 설명을 활용한다.\n- 전문성을 유지하면서도 비전문가가 이해할 수 있는 문장으로 작성한다.\n\n## 문체 가이드\n\n### 사용하면 좋은 표현\n\n아래 표현은 필요할 때 자연스럽게 활용할 수 있다.\n\n- “먼저 개념과 범위를 구분할 필요가 있습니다.”\n- “핵심 기준은 다음과 같이 정리할 수 있습니다.”\n- “두 항목은 적용 목적과 조건에서 차이가 있습니다.”\n- “판단 전에 다음 조건을 함께 검토하는 것이 적절합니다.”\n- “상황별 차이를 고려해 적용 범위를 확인해야 합니다.”\n- “관련 내용을 구조적으로 정리하면 다음과 같습니다.”\n- “요약하면 핵심은 다음과 같습니다.”\n\n### 피해야 할 표현\n\n아래 표현은 사용하지 않는다.\n\n- “무조건”\n- “반드시 최고”\n- “완벽한 선택”\n- “절대 실패하지 않는”\n- “전문가가 보증하는”\n- “업계에서 모두 인정하는”\n- “놓치면 손해”\n- “지금 당장 해야 합니다”\n- “꿀팁”\n- “완전”\n- “딱 이것만”\n- “솔직히 말하면”\n\n질문형 문장, 감탄문, 과도한 대화체도 반복해서 사용하지 않는다.\n\n## 이미지 및 캡션 작성 기준\n\n이미지 제안이나 캡션은 `content_brief`에서 명시적으로 요구한 경우에만 포함한다.\n\n이미지 자체를 생성하지 않으며 본문에서 필요한 위치에 아래 Markdown 형식으로 제안만 작성한다.\n\n> 이미지 제안: 이미지의 목적과 구성을 구체적으로 설명합니다.\n>\n> 캡션: 이미지가 설명하는 개념이나 기준을 간결하게 작성합니다.\n\n요구된 경우 활용할 수 있는 이미지 방향:\n\n1. 대표 이미지\n   - 주제와 핵심 개념을 명확하게 보여주는 이미지\n   - 중심 주제와 직접 연결되는 이미지\n\n2. 본문 이미지\n   - 개념 구조 이미지\n   - 비교 이미지\n   - 단계 또는 과정 이미지\n   - 판단 기준이나 체크리스트 이미지\n\n3. 마무리 이미지\n   - 핵심 내용을 구조적으로 요약한 이미지\n   - 주요 기준을 다시 확인할 수 있는 정리 이미지\n\n이미지와 캡션은 홍보 표현보다 개념과 정보 전달을 우선한다.\n\n## 마무리 방향\n\n마지막 소제목에서는 핵심 내용을 명확하게 요약하고 독자가 관련 기준을 확인하거나 적용할 수 있도록 안내한다.\n\n### 마무리 구성\n\n1. 핵심 개념과 기준 요약\n2. 독자가 확인해야 할 조건 정리\n3. 확인, 검토, 비교 또는 적용 제안\n\n작성 방향:\n\n- 핵심 내용을 간결하고 명확하게 정리한다.\n- 광고성 문장보다 정보성 문장으로 끝낸다.\n- 새로운 핵심 주장이나 결론을 추가하지 않는다.\n- 독자가 자신의 상황에 맞게 기준을 확인하거나 적용하도록 제안한다.\n\n## CTA 작성 기준\n\n- 확인, 검토, 비교 또는 적용과 관련된 행동을 제안한다.\n- 강한 판매나 참여 유도 표현은 사용하지 않는다.\n- 정보형 글의 흐름을 해치지 않게 작성한다.\n- 근거 없는 효과나 결과를 약속하지 않는다.\n- CTA는 마지막 소제목의 마무리 문단에 자연스럽게 포함한다.\n\n## 해시태그 작성 기준\n\n- `content`의 마지막 줄에 해시태그를 3~7개 작성한다.\n- 모든 해시태그는 한 줄에 공백으로 구분해 작성한다.\n- 중심 주제, 명시된 키워드 또는 브리프에 실제로 등장한 표현만 사용하거나 조합한다.\n- 키워드가 비어 있어도 주제, 공통내용, 핵심 메시지 등에 등장한 단어와 구를 활용한다.\n- 새로운 개념의 관련 태그를 임의로 추론하지 않는다.\n- 같은 의미나 같은 표기의 해시태그를 중복하지 않는다.\n- 해시태그 내부의 불필요한 공백은 제거한다.\n\n## 출력 형식\n\n상위 공통 시스템 프롬프트의 출력 지침과 출력 스키마를 따른다.\n\n- `platform` 값은 정확히 `네이버 블로그`로 출력한다.\n- `content`는 제목, 도입부, 소제목 4~6개와 본문, 요약과 CTA, 해시태그를 포함한 Markdown 문자열로 출력한다.\n- 최상위 키는 정확히 `platform`, `content` 두 개만 사용한다.\n- JSON 외부에 코드펜스, 주석 또는 부연 설명을 출력하지 않는다.\n- `content`의 줄바꿈은 JSON 문자열 안에서 `\\n`으로 표현한다.\n- `content`에 큰따옴표가 필요하면 JSON 규칙에 따라 `\\\"`로 이스케이프한다.\n- 줄바꿈이나 따옴표를 이중으로 이스케이프하지 않는다.\n- 최종 응답은 파싱 가능한 유효한 JSON 객체 하나여야 한다.\n\n## 최종 검토\n\n출력 전 아래 항목을 확인한다.\n\n- `content_brief`의 핵심 메시지와 표현 경계를 유지했는가?\n- 중심 주제와 명시된 키워드를 자연스럽게 반영했는가?\n- 키워드가 없을 때 새로운 키워드나 개념을 만들지 않았는가?\n- 브리프에 없는 근거, 연구 결과, 전문가 의견, 효능, 수치 또는 결론을 추가하지 않았는가?\n- 실제 사례가 아닌 내용을 실제 사례처럼 작성하지 않았는가?\n- 정확하고 구조적이면서 비전문가도 이해할 수 있는 문체인가?\n- 과도한 대화체, 질문형 문장 또는 감탄문을 사용하지 않았는가?\n- 최종 `content` 전체가 1,800자 이내인가?\n- 제목이 `#` 형식이고 소제목이 `##` 형식인가?\n- 본문 분량과 관계없이 소제목이 4~6개인가?\n- 마지막 소제목에 명확한 요약과 자연스러운 CTA가 포함되었는가?\n- 해시태그가 마지막 줄에 3~7개 작성되었는가?\n- 이미지 요구가 없는데 이미지 제안이나 캡션을 추가하지 않았는가?\n- `platform` 값이 정확히 `네이버 블로그`인가?\n- 최종 결과가 `platform`, `content`만 가진 유효한 JSON인가?"
              },
              "metadata": {
                "designer": {
                  "x": 1200,
                  "y": 600,
                  "name": "네이버 블로그 컨텐츠 생성"
                },
                "restore": {
                  "parameters": {
                    "makeConnectionId": {
                      "label": "Select AI Provider connection after import",
                      "data": {
                        "scoped": "true",
                        "connection": "ai-provider"
                      }
                    },
                    "model": {
                      "mode": "chose",
                      "nested": [],
                      "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "makeConnectionId",
                    "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "input",
                    "type": "text",
                    "label": "Text",
                    "required": true
                  }
                ]
              }
            },
            {
              "id": 54,
              "module": "ai-tools:Ask",
              "version": 2,
              "parameters": {
                "makeConnectionId": 9328125,
                "model": "gpt-5-nano"
              },
              "mapper": {
                "input": "# 공통 텍스트 생성 시스템 프롬프트\n\n## 역할\n입력받은 `content_brief`와 플랫폼별 지침을 바탕으로, 지정된 플랫폼에 맞는 텍스트 콘텐츠를 생성하는 작가이다.\n\n## 실행 환경\n이 지시는 자동화 프로세스의 일부로 실행되며 실시간 사용자 상호작용이 없다. 추가 질문 없이 프롬프트를 정확히 해석하여 기준에 맞는 출력만 생성한다.\n\n## 목표\n`content_brief`의 핵심 메시지와 의미를 유지하면서, `입력`의 플랫폼 지침에 맞는 텍스트 콘텐츠를 생성한다.\n\n## 작업 절차\n1. `입력`의 `content_brief`에서 공통 방침(핵심 메시지·톤앤매너 등)을, `입력`의 플랫폼 지침에서 해당 플랫폼 조건을 파악한다.\n2. 둘을 반영하여 플랫폼에 맞는 텍스트 콘텐츠를 작성한다. 예시가 주어지면 구성과 톤만 참고하고 내용은 모방하지 않는다.\n3. 작성한 콘텐츠가 `제약사항`을 모두 충족하는지 검토하고, 위반 항목이 있으면 충족하도록 수정한다.\n4. `출력_지침`에 따라 `출력_스키마`의 구조로만 최종 출력한다.\n\n## 우선순위\n`제약사항`을 제외한 모든 내용은 `입력`의 지시를 최우선으로 따른다.\n\n## 생성_규칙\n- **언어**: `content`는 한국어로 작성한다. 단, `입력`에서 다른 언어를 지정하면 그에 따른다.\n\n## 출력_지침\n응답은 `출력_스키마`를 그대로 따르는 JSON 객체 하나만 출력한다. 최상위 키는 정확히 `platform`, `content` 두 개뿐이다. 그 외 어떤 키도 출력에 포함하지 않는다. 코드펜스·주석·부연 설명 없이 JSON만 출력한다.\n\n## 출력_스키마\n```json\n{\n  \"platform\": \"게시물이 게재될 플랫폼\",\n  \"content\": \"생성된 텍스트 콘텐츠\"\n}\n```\n\n## 제약사항\n\n### 브리프_충실\n- 생성 콘텐츠는 `content_brief`의 핵심 메시지와 표현 경계를 유지한다.\n- 브리프에 없는 새로운 메시지나 주장을 임의로 만들지 않는다.\n\n### 저작권_준수\n- 제공된 예시에 의존하지 않고 새롭게 생성된 내용이어야 하며, 저작권에 위배되지 않아야 한다.\n- 예시가 주어진 경우, 구성은 참고하되 유행어나 구체적 표현·내용은 모방하지 않는다.\n\n### 민감요소_사용_금지\n- 최종 생성물은 민감요소를 포함하지 않아야 한다.\n- 인종·종교·정치 등의 내용이 들어가거나 암시되는 내용이 아니어야 한다.\n- 성적·폭력적 내용, 또는 타인·특정 브랜드·제품을 비하하거나 깎아내리는 내용이 아니어야 한다.\n\n### 거짓_정보_금지\n- 사실을 다룰 때는 확실한 정보만 활용하고 추측성 내용은 작성하지 않는다.\n- 단, `입력`에서 직접 지시된 내용은 별도 검증 없이 사용한다.\n\n### 톤앤매너_정합\n- `content`는 `content_brief`의 톤앤매너를 기본으로 한다.\n\n## 입력\n`입력`은 아래 구분선 다음에 제공되며, `content_brief`(1단계 브리프)와 플랫폼별 지침으로 구성된다. 형식이 템플릿과 달라도 같은 의미의 요소를 식별하여 해석한다.\n\n---------- 이하 입력 ----------\n\n## content_brief\n\n{{5.answer}}\n\n## Threads 플랫폼별 콘텐츠 생성 프롬프트\n\n> 이 지침은 「공통 텍스트 생성 시스템 프롬프트」의 입력 중 ‘플랫폼별 지침’으로 사용된다.  \n> `content_brief`와 함께 입력되며, 시스템 프롬프트의 역할·작업 절차·제약사항·출력 스키마(`platform`, `content`)를 그대로 따른다.  \n> 이 지침은 Threads(B안, 전문적) 게시글에 한정된 플랫폼 조건만 정의한다. 출력 시 `platform` 값은 `\"Threads\"`.\n\n## 변형\n\nB안 — 전문적 (근거·맥락·시사점이 분명한 전문가 대화형)\n\n## Threads 메커니즘 (이 규칙들이 왜 있는가)\n\n- 피드에는 첫 1~2줄만 보이고 나머지는 ‘더 보기’로 접힌다. → **첫 줄에서 읽을 이유를 제시해야 한다.** 주제를 그대로 요약하거나 다시 설명하는 문장으로 시작하지 않는다.\n- 알고리즘이 댓글·재게시 같은 ‘대화’를 강하게 반영한다. → 독자가 자신의 경험이나 판단을 덧붙이고 싶게 만드는 것이 중요하다.\n- 모바일 세로 화면에서 읽힌다. → 한 문장 = 한 줄, 논점이 바뀌면 빈 줄. 빽빽한 문단은 피한다.\n\n## 작성 형식\n\n- 분량: 150~350자 권장(최대 500자 엄수). 최대 분량은 본문·공백·줄바꿈·해시태그를 포함한 최종 `content` 전체를 기준으로 한다.\n- 첫 줄(훅): 문제 제기·의외의 관점·실무적 질문 중 하나로 시작한다. 주제 요약·재진술·결과 단정은 금지한다.\n- 본문: `핵심 주장 → 입력에 근거한 이유·맥락 → 시사점 또는 제안` 순서로 작성한다.\n- 핵심 메시지는 하나만 다룬다. `content_brief`의 반드시 포함할 내용은 하나의 중심 메시지를 뒷받침하도록 구성하고, 분량을 줄여야 할 때는 보조 내용을 먼저 생략한다.\n- 한 줄에 한 문장을 작성하고, 논점이 바뀌면 빈 줄을 넣는다.\n- 마무리: 핵심 시사점을 바탕으로 독자의 판단·경험을 묻거나, 구체적인 검토·실천을 제안한다.\n- 해시태그: 0~3개, 사용할 경우 맨 끝에 모아서 배치한다.\n- 이모지: 사용하지 않는다.\n\n## 톤앤매너(전문적)\n\n- 전문가가 독자에게 핵심을 명확하게 설명하듯 작성한다. 공식적이되 일방적인 발표문처럼 딱딱하지 않은 존댓말을 사용한다.\n- `~습니다`, `~할 수 있습니다`, `~를 확인할 필요가 있습니다`처럼 의미가 분명한 문장을 사용한다.\n- 사실·해석·제안을 구분한다. 입력에 명시된 사실을 먼저 제시하고, 해석이나 제안은 단정하지 않도록 표현한다.\n- 전문용어가 필요하면 문맥만으로 의미를 이해할 수 있게 풀어 쓴다. 전문성을 과시하기 위한 용어 나열은 피한다.\n- 추상적 평가보다 입력에 근거한 조건·차이·판단 기준을 구체적으로 제시한다.\n- 1인칭 경험은 입력에 명시된 경우에만 사용한다. 그 외에는 중립적인 관찰과 분석으로 작성한다.\n- 과장된 확신보다 정확한 범위와 한계를 드러내 신뢰감을 만든다.\n\n## 절대 쓰지 말 것 (안티패턴) — 가장 중요\n\n- 주제 재진술형 첫 줄: “OO는 현대 사회에서 중요한 주제입니다.”\n- 보도자료식 표현: “의미 있는 결과입니다”, “큰 성과를 거두었습니다”, “많은 관심이 기대됩니다”, “새로운 가능성을 제시합니다”.\n- 과도한 구어체: “진짜”, “완전”, “대박”, “~잖아요”, “~거든요”, `ㅋㅋ`, 말줄임표, 과도한 감탄.\n- 근거 없는 확정 표현: “반드시”, “항상”, “최고”, “완벽한”, “확실히”, “보장합니다”.\n- 입력에 없는 권위 인용: “전문가들은”, “연구에 따르면”, “업계에서는” 등의 출처 없는 표현.\n- 가능성을 사실로, 상관관계를 인과관계로, 하나의 사례를 일반적인 결론으로 확대하는 표현.\n- 어려운 전문용어와 명사형 표현을 연속해서 나열하는 문장.\n- 한 게시물에 여러 메시지를 욱여넣는 구성. `content_brief`의 필수 내용은 하나의 메시지를 뒷받침하도록 묶는다.\n- 빈 줄 없는 긴 문단.\n\n## 사실 취급 규칙 (할루시네이션 방지)\n\n- `content_brief`와 입력에 **명시된 사실만** 사용한다.\n- 점수·상대팀·인물·날짜·수치·효능·사양·사건·인용구·연구 결과·화자의 경험을 입력에 없으면 추가하지 않는다.\n- 입력의 가능성·의견·예상을 검증된 사실이나 확정된 인과관계로 바꾸지 않는다.\n- 스포츠 결과·뉴스·시사처럼 검증이 필요한 외부 사실은 입력에 적혀 있더라도 승패·점수·발표 결과 등을 직접적인 확정 사실로 서술하거나 각색하지 않는다.\n- 해당 결과가 `content_brief`의 핵심이어도 직접 언급하지 않고, 결과 여부와 무관하게 성립하는 입력상의 맥락·시사점·기대에 집중한다.\n- 활용할 수 있는 맥락이나 시사점이 입력에 없다면 새로운 분석을 만들지 말고, 독자가 검토할 수 있는 조건형 질문이나 제안으로 전환한다.\n- 확실하지 않으면 쓰지 않는다. 애매하면 비운다.\n\n## 좋은 예 vs 나쁜 예 (형식·톤 참고용 — 내용 모방 금지)\n\n나쁜 예 (과도한 구어체와 근거 없는 단정):\n\n“요즘 다들 업무 자동화하고 계시죠? 저도 써봤는데 진짜 신세계더라고요 ㅋㅋ 무조건 빨리 시작해보세요!”\n\n→ 문제: 입력에 없는 개인 경험, 과도한 구어체, 근거 없는 효과 단정, 판단 기준 부재, 줄바꿈 없음.\n\n좋은 예 (전문적):\n\n자동화할 업무를 고를 때, 반복 여부만 보면 충분할까요?\n\n반복되는 작업이어도 매번 판단 기준이 달라진다면 적용 범위를 먼저 정리할 필요가 있습니다.\n\n현재 업무에서 입력과 결과를 가장 분명하게 설명할 수 있는 단계부터 검토해보세요.\n\n어떤 기준을 가장 먼저 확인하고 계신가요?  \n#업무자동화\n\n→ 좋은 점: 실무적 질문형 훅, 하나의 판단 기준에 집중, 짧은 문장과 여백, 과장 없는 제안, 독자의 판단을 묻는 마무리.\n\n## 확장 few-shot (전문적 패턴 기반 — 구조만 참고, 표현·내용 모방 금지)\n\n아래 예시는 전문적 톤에 적합한 Threads 글의 구조 패턴을 보여준다. 실제 게시글을 모방한 것이 아니며, 패턴의 전개 방식만 참고한다. 내용과 판단 기준은 반드시 입력에 맞춰 새로 작성한다.\n\n[패턴 1 · 문제 정의형] — 익숙한 현상을 질문으로 다시 보고, 먼저 확인할 조건을 제시한다.\n\n회의가 길어지는 원인을 참석자 수로만 설명할 수 있을까요?\n\n먼저 결정할 사항과 공유할 사항이 구분되어 있는지 확인할 필요가 있습니다.\n\n다음 회의에서는 안건별 목적부터 표시해보세요.\n\n현재 회의에서 가장 자주 섞이는 목적은 무엇인가요?  \n#업무방식\n\n[패턴 2 · 비교·구분형] — 비슷해 보이는 두 개념의 차이를 하나의 기준으로 정리한다.\n\n정보가 많은 문서와 이해하기 쉬운 문서는 같은 의미가 아닙니다.\n\n핵심 판단에 필요한 정보와 참고용 정보를 구분하면 문서의 역할을 더 명확하게 정리할 수 있습니다.\n\n작성 중인 문서에서 반드시 남겨야 할 정보는 무엇인가요?  \n#문서작성\n\n[패턴 3 · 실무 제안형] — 실행 전에 확인할 기준을 짧게 제시하고 작은 행동을 권한다.\n\n새 도구를 검토할 때는 기능과 적용할 업무를 함께 구분해야 합니다.\n\n입력·처리·결과를 각각 정리하면 필요한 기능의 범위를 검토할 수 있습니다.\n\n현재 검토 중인 업무를 세 단계로 나눠보세요.  \n#업무개선\n\n[패턴 4 · 시사점 질문형] — 입력에서 확인되는 조건을 해석하고, 독자가 자신의 기준을 점검하게 한다.\n\n같은 지표도 비교 기준에 따라 해석 범위가 달라질 수 있습니다.\n\n수치 자체보다 비교 기준과 관찰 조건이 입력에 명시되어 있는지 먼저 확인해야 합니다.\n\n현재 보고 있는 지표의 기준은 충분히 분명한가요?  \n#데이터\n\n공통 원리: 첫 줄에서 문제·관점·판단 기준을 제시하고, 하나의 논점을 입력에 근거해 설명한 뒤 통찰 질문이나 구체적인 제안으로 마무리한다. 어떤 패턴을 사용하든 위 `사실 취급 규칙`을 지킨다.\n\n## 언어\n\n한국어 (`content`는 한국어로 작성)"
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 600,
                  "name": "스레드 컨텐츠 생성"
                },
                "restore": {
                  "parameters": {
                    "makeConnectionId": {
                      "label": "Select AI Provider connection after import",
                      "data": {
                        "scoped": "true",
                        "connection": "ai-provider"
                      }
                    },
                    "model": {
                      "mode": "chose",
                      "nested": [],
                      "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "makeConnectionId",
                    "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                    "label": "Connection",
                    "required": true
                  },
                  {
                    "name": "model",
                    "type": "select",
                    "label": "Model",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "input",
                    "type": "text",
                    "label": "Text",
                    "required": true
                  }
                ]
              }
            }
          ]
        }
      ]
    },
    {
      "id": 55,
      "module": "builtin:BasicMerge",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 450
        }
      },
      "outputs": [
        {
          "name": "스레드",
          "mappings": [
            "{{51.answer}}",
            "{{54.answer}}"
          ]
        },
        {
          "name": "네이버 블로그",
          "mappings": [
            "{{50.answer}}",
            "{{53.answer}}"
          ]
        },
        {
          "name": "인스타그램",
          "mappings": [
            "{{48.answer}}",
            "{{49.answer}}"
          ]
        }
      ],
      "filters": [
        null,
        null
      ]
    },
    {
      "id": 70,
      "module": "notion:makeApiCall",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null
      },
      "mapper": {
        "url": "/v1/blocks/{{1.id}}/children",
        "version": "2021-08-16",
        "method": "PATCH",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ],
        "body": "{\n  \"children\": [\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"컨텐츠 브리프\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"code\",\n      \"code\": {\n        \"language\": \"json\",\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{escapeJSON(5.answer)}}\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"인스타그램\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"code\",\n      \"code\": {\n        \"language\": \"json\",\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{escapeJSON(55.`인스타그램`)}}\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"네이버 블로그\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"code\",\n      \"code\": {\n        \"language\": \"json\",\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{escapeJSON(substring(55.`네이버 블로그`; 0; 1900))}}\"\n            }\n          },\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{escapeJSON(substring(55.`네이버 블로그`; 1900; length(55.`네이버 블로그`)))}}\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"스레드\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"code\",\n      \"code\": {\n        \"language\": \"json\",\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{escapeJSON(55.`스레드`)}}\"\n            }\n          }\n        ]\n      }\n    }\n  ]\n}"
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 450,
          "name": "플랫폼별 컨텐츠 저장"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": null
          },
          "expect": {
            "method": {
              "mode": "chose",
              "label": "PATCH"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "qs": {
              "mode": "chose"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          },
          {
            "name": "version",
            "type": "text",
            "label": "Notion Version"
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name": "headers",
            "type": "array",
            "label": "Headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ]
          },
          {
            "name": "qs",
            "type": "array",
            "label": "Query String",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ]
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          }
        ]
      }
    },
    {
      "id": 67,
      "module": "ai-tools:Ask",
      "version": 2,
      "parameters": {
        "makeConnectionId": 9328125,
        "model": "gpt-5-nano"
      },
      "mapper": {
        "input": "# 역할\n이미지 생성 AI에 입력할 프롬프트를 작성하는 프롬프트 엔지니어.\n\n# 작업\n1. 주어진 콘텐츠 브리프 전체를 이미지 묘사의 유일한 기준으로 삼는다.\n2. 콘텐츠 브리프의 주제, 핵심 메시지, 예상독자, 반드시 포함할 내용, 보조로 활용할 내용, 톤앤매너를 종합하여 브리프의 핵심을 가장 잘 전달하는 시각적 장면을 설계한다.\n3. 장면과 주요 피사체를 구체화하고, 피사체 간 관계·행동·시선·방향과 구도·조명·스타일을 명확하게 묘사한다.\n4. 브리프에 없는 사실이나 핵심 설정을 임의로 추가하지 않는다.\n5. 완성된 묘사가 브리프의 핵심 메시지와 톤앤매너에 부합하는지 재점검하고, 어긋나면 조정한다.\n\n# 출력 규칙\n- 이미지 생성용 묘사 한 단락만 출력한다.\n- 장면·피사체·행동·구도·조명·스타일을 구체적으로 포함한다.\n- 피사체 간 관계와 시선·방향을 명시한다(예: seated facing the screen, front view).\n- 영어로 작성한다.\n- 설명·머리말·따옴표·마크다운 없이 순수 평문만 출력한다.\n\n# 자료\n{\n  \"콘텐츠 브리프\": {{5.answer}}\n}"
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 450,
          "name": "대표 이미지 묘사용 프롬프트 생성"
        },
        "restore": {
          "parameters": {
            "makeConnectionId": {
              "label": "Select AI Provider connection after import",
              "data": {
                "scoped": "true",
                "connection": "ai-provider"
              }
            },
            "model": {
              "mode": "chose",
              "nested": [],
              "label": "GPT-5 nanoThe most cost-effective option for casual conversation and straightforward, simple fact-retrieval"
            }
          }
        },
        "parameters": [
          {
            "name": "makeConnectionId",
            "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
            "label": "Connection",
            "required": true
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "input",
            "type": "text",
            "label": "Text",
            "required": true
          }
        ]
      }
    },
    {
      "id": 59,
      "module": "http:MakeRequest",
      "version": 4,
      "parameters": {
        "authenticationType": "noAuth",
        "tlsType": ""
      },
      "mapper": {
        "url": "https://api.cloudflare.com/client/v4/accounts/YOUR_CLOUDFLARE_ACCOUNT_ID/ai/run/@cf/black-forest-labs/flux-1-schnell",
        "method": "post",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer YOUR_CLOUDFLARE_API_TOKEN"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "contentType": "json",
        "parseResponse": true,
        "stopOnHttpError": true,
        "allowRedirects": true,
        "shareCookies": false,
        "requestCompressedContent": true,
        "inputMethod": "dataStructure",
        "bodyDataStructure": 412800,
        "dataStructureBodyContent": {
          "prompt": "{{67.answer}}",
          "steps": "4"
        }
      },
      "metadata": {
        "designer": {
          "x": 2700,
          "y": 450,
          "name": "대표 이미지 생성"
        },
        "restore": {
          "parameters": {
            "authenticationType": {
              "label": "No authenticationUse when no credentials are required for the request."
            },
            "tlsType": {
              "label": "Empty"
            }
          },
          "expect": {
            "method": {
              "mode": "chose",
              "label": "POST"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null,
                null
              ]
            },
            "queryParameters": {
              "mode": "chose"
            },
            "contentType": {
              "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
            },
            "parseResponse": {
              "mode": "chose"
            },
            "stopOnHttpError": {
              "mode": "chose"
            },
            "allowRedirects": {
              "mode": "chose"
            },
            "shareCookies": {
              "mode": "chose"
            },
            "requestCompressedContent": {
              "mode": "chose"
            },
            "inputMethod": {
              "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
            },
            "bodyDataStructure": {
              "label": "My data structure"
            },
            "paginationType": {
              "label": "Empty"
            }
          }
        },
        "parameters": [
          {
            "name": "authenticationType",
            "type": "select",
            "label": "Authentication type",
            "required": true,
            "validate": {
              "enum": [
                "noAuth",
                "apiKey",
                "basicAuth",
                "oAuth"
              ]
            }
          },
          {
            "name": "tlsType",
            "type": "select",
            "label": "Transport layer security (TLS)",
            "validate": {
              "enum": [
                "mTls",
                "tls"
              ]
            }
          },
          {
            "name": "proxyKeychain",
            "type": "keychain:proxy",
            "label": "Proxy"
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "type": "array",
            "label": "Headers",
            "spec": {
              "name": "value",
              "label": "Header",
              "type": "collection",
              "spec": [
                {
                  "name": "name",
                  "label": "Name",
                  "type": "text",
                  "required": true,
                  "validate": {
                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                  }
                },
                {
                  "name": "value",
                  "label": "Value",
                  "type": "text"
                }
              ]
            }
          },
          {
            "name": "queryParameters",
            "type": "array",
            "label": "Query parameters",
            "spec": {
              "name": "value",
              "label": "Parameter",
              "type": "collection",
              "spec": [
                {
                  "name": "name",
                  "label": "Name",
                  "type": "text",
                  "required": true
                },
                {
                  "name": "value",
                  "label": "Value",
                  "type": "text"
                }
              ]
            }
          },
          {
            "name": "contentType",
            "type": "select",
            "label": "Body content type",
            "validate": {
              "enum": [
                "json",
                "multipart",
                "urlEncoded",
                "custom"
              ]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "stopOnHttpError",
            "type": "boolean",
            "label": "Return error if HTTP request fails",
            "required": true
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "min": 1,
              "max": 300
            }
          },
          {
            "name": "allowRedirects",
            "type": "boolean",
            "label": "Allow redirects",
            "required": true
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "requestCompressedContent",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "inputMethod",
            "type": "select",
            "label": "Body input method",
            "required": true,
            "validate": {
              "enum": [
                "dataStructure",
                "jsonString"
              ]
            }
          },
          {
            "name": "bodyDataStructure",
            "type": "udt",
            "label": "Body structure",
            "required": true
          },
          {
            "name": "dataStructureBodyContent",
            "type": "collection",
            "label": "Body content",
            "spec": [
              {
                "name": "prompt",
                "type": "text",
                "label": null,
                "required": true
              },
              {
                "name": "steps",
                "type": "number",
                "label": null,
                "required": true
              }
            ]
          },
          {
            "name": "paginationType",
            "type": "select",
            "label": "Pagination type",
            "validate": {
              "enum": [
                "offsetBased",
                "pageBased",
                "urlBased",
                "tokenBased"
              ]
            }
          }
        ],
        "interface": [
          {
            "name": "data",
            "label": "Data",
            "type": "any"
          },
          {
            "name": "statusCode",
            "label": "Status Code",
            "type": "number"
          },
          {
            "name": "headers",
            "label": "Headers",
            "type": "collection",
            "spec": [
              {
                "name": "content-length",
                "label": "Content-Length",
                "type": "text"
              },
              {
                "name": "content-encoding",
                "label": "Content-Encoding",
                "type": "text"
              },
              {
                "name": "content-type",
                "label": "Content-Type",
                "type": "text"
              },
              {
                "name": "server",
                "label": "Server",
                "type": "text"
              },
              {
                "name": "cache-control",
                "label": "Cache-Control",
                "type": "text"
              },
              {
                "name": "set-cookie",
                "label": "Set-Cookie",
                "type": "array",
                "spec": {
                  "type": "text"
                }
              }
            ]
          }
        ]
      }
    },
    {
      "id": 86,
      "module": "cloudinary:UploadResource",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null
      },
      "mapper": {
        "file_type": "data",
        "resourceType": "image",
        "type": "upload",
        "file": "{{toBinary(59.data.result.image; \"base64\")}}",
        "mime_type": "image/png",
        "public_id": "notion_{{1.id}}",
        "folder": "ai-social-media-content-generator",
        "use_filename": false
      },
      "metadata": {
        "designer": {
          "x": 3000,
          "y": 450,
          "name": "대표 이미지 Cloudinary 업로드"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": null
          },
          "expect": {
            "file_type": {
              "label": "Base64 Encoded Data URI (~60MB)"
            },
            "resourceType": {
              "mode": "chose",
              "label": "image"
            },
            "upload_preset": {
              "mode": "chose",
              "label": "Empty"
            },
            "folder": {
              "mode": "chose",
              "label": "ai-social-media-content-generator"
            },
            "use_filename": {
              "mode": "chose"
            },
            "type": {
              "mode": "chose",
              "label": "Upload"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:cloudinary",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "file_type",
            "type": "select",
            "label": "File Type",
            "required": true,
            "validate": {
              "enum": [
                "data",
                "url"
              ]
            }
          },
          {
            "name": "resourceType",
            "type": "select",
            "label": "Resource Type",
            "required": true
          },
          {
            "name": "upload_preset",
            "type": "select",
            "label": "Upload Preset"
          },
          {
            "name": "public_id",
            "type": "text",
            "label": "Public ID"
          },
          {
            "name": "folder",
            "type": "select",
            "label": "Folder"
          },
          {
            "name": "use_filename",
            "type": "boolean",
            "label": "Use Filename"
          },
          {
            "name": "type",
            "type": "select",
            "label": "Type",
            "validate": {
              "enum": [
                "private",
                "upload",
                "authenticated"
              ]
            }
          },
          {
            "name": "file",
            "type": "buffer",
            "label": "File",
            "required": true
          },
          {
            "name": "mime_type",
            "type": "text",
            "label": "MIME Type",
            "required": true
          }
        ]
      }
    },
    {
      "id": 87,
      "module": "notion:makeApiCall",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null
      },
      "mapper": {
        "url": "/v1/blocks/{{1.id}}/children",
        "version": "2022-06-28",
        "method": "PATCH",
        "headers": [
          {
            "key": "Content-Type",
            "value": "application/json"
          }
        ],
        "body": "{\n  \"children\": [\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"대표 이미지\"\n            }\n          }\n        ],\n        \"color\": \"default\",\n        \"is_toggleable\": false\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"image\",\n      \"image\": {\n        \"type\": \"external\",\n        \"external\": {\n          \"url\": \"{{86.secure_url}}\"\n        }\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"Cloudinary 이미지 URL\",\n              \"link\": {\n                \"url\": \"{{86.secure_url}}\"\n              }\n            }\n          }\n        ],\n        \"color\": \"default\"\n      }\n    }\n  ]\n}"
      },
      "metadata": {
        "designer": {
          "x": 3300,
          "y": 450,
          "name": "대표 이미지 URL 본문 추가"
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": null
          },
          "expect": {
            "method": {
              "mode": "chose",
              "label": "PATCH"
            },
            "headers": {
              "mode": "chose",
              "items": [
                null
              ]
            },
            "qs": {
              "mode": "chose"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "text",
            "label": "URL",
            "required": true
          },
          {
            "name": "version",
            "type": "text",
            "label": "Notion Version"
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "GET",
                "POST",
                "PUT",
                "PATCH",
                "DELETE"
              ]
            }
          },
          {
            "name": "headers",
            "type": "array",
            "label": "Headers",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ]
          },
          {
            "name": "qs",
            "type": "array",
            "label": "Query String",
            "spec": [
              {
                "name": "key",
                "type": "text",
                "label": "Key"
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ]
          },
          {
            "name": "body",
            "type": "any",
            "label": "Body"
          }
        ]
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": true,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": [
      {
        "text": "Reusable Make workflow template. Connection IDs are intentionally null so importers can map/select their own Make connections. Replace YOUR_CLOUDFLARE_ACCOUNT_ID and YOUR_CLOUDFLARE_API_TOKEN before running. Do not commit real credentials."
      }
    ]
  }
}
